.rich-content {
  line-height: 20px;
  color: #444;
  font-size: 14px;
}
.rich-content p {
  margin: 0 0 0.5em;
}
.rich-content ol,
.rich-content ul {
  padding: 0 0 0 40px;
  margin: 10px 0;
  list-style: disc outside !important;
}
.rich-content ol {
  list-style: decimal outside !important;
}
.rich-content blockquote {
  border-left: 4px solid gainsboro;
  margin: 10px 0 10px 10px;
  padding-left: 15px;
}
.rich-content .text-img-holder {
  display: block;
}
pre.feed-code-syntax-highlight {
  font-size: 12px;
  font-family: monospace;
}
/* .feed-ft no need clearfix, if you did, WTF-IE will make you crazy. */
.feed:after,
.feed-hd:after,
.feed-bd:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.feed,
.feed-hd,
.feed-bd {
  zoom: 1;
}
.feed-list {
  clear: both;
}
.no-feed-notice {
  padding: 0 0 0 85px;
  font-size: 16px;
  color: #8F8F8F;
}
.no-feed-notice a {
  color: #444;
}
.feed {
  margin: 10px 0;
  color: #444;
  padding: 5px 0;
  position: relative;
}
.feed.first-feed {
  margin-top: 0;
  padding-top: 0;
}
.feed a,
.feed a:visited,
.feed a:link,
.feed a:active {
  color: #b4b4b4;
}
.feed a:hover {
  color: #8f8f8f;
}
.feed .feed-avatar {
  float: left;
  position: relative;
  width: 64px;
  height: 64px;
  zoom: 1;
}
.feed .feed-avatar:active {
  top: 1px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.feed .feed-avatar .blog-menu-info {
  position: absolute;
  z-index: 5;
  bottom: 5px;
  left: 5px;
  width: 18px;
  height: 18px;
  background: url("/admin/image/feed-icons.png") no-repeat scroll -32px -150px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  _filter: alpha(opacity=80);
  cursor: pointer;
  visibility: hidden;
}
.feed .feed-avatar .blog-menu-info:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.feed .feed-avatar.hover .blog-menu-info.enable,
.feed .feed-avatar:hover .blog-menu-info.enable {
  visibility: visible;
}
.feed .blog-menu {
  position: absolute;
  z-index: 5;
  left: -8px;
  top: 84px;
  width: 80px;
  visibility: hidden;
}
.feed .blog-menu ul {
  padding: 0;
  list-style: none;
}
.feed .blog-menu .triangle {
  position: absolute;
  top: -10px;
  left: 36px;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 5px dashed transparent;
  border-bottom: 5px solid #262626;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.feed .blog-menu .menu-list {
  padding: 0;
  list-style: none;
}
.feed .feed-avatar a.blog-avatar {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-indent: -9999px;
  outline: none;
  border: none;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
  box-shadow: 0 1px 2px #b0b3b6;
  background-color: #b0b3b6;
  /* @ref: /css/module/css3-compatilbe.css; */

}
.feed .feed-avatar a.author-avatar {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  bottom: -10px;
  outline: none;
  /* border:3px solid #D3D9DE;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#D3D9DE; */

  /* @ref: /css/module/css3-compatilbe.css; */

}
.feed .feed-avatar a.author-avatar span {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center center;
  text-indent: -9999px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  background-color: #b0b3b6;
  /* @ref: /css/module/css3-compatilbe.css; */

}
.feed-content-holder {
  color:#333;
  line-height:30px;
  outline:none;
  border:1px solid #dddddd;
  border-top:1px solid #ebebeb;
  border-bottom: 1px solid #b7b7b7;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 1px #d3d1d1;
  margin: -1px -2px -4px;

  position: relative;
  zoom: 1;
}
.feed .pop-triangle {
  height: 20px;
  width: 13px;
  position: absolute;
  left: -11px;
  top: 25px;
  background: url(/admin/image/feed-icons.png) no-repeat 0 -150px;
}
.feed .pop-content {
}
.feed .link-to-post-holder {
  position: absolute;
  right: -2px;
  top: -3px;
  z-index: 1;
  background: url(/admin/image/htmlbg.png) repeat;
  width: 25px;
  height: 26px;
}
.feed .link-to-post-inner {
  position: relative;
  width: 25px;
  height: 26px;
  background: url(/admin/image/content-holder.png) repeat-x 0 -9999px;
}
.feed a.link-to-post {
  display: block;
  text-indent: -9999px;
  outline: none;
  background: url("/admin/image/feed-icons.png") no-repeat 0 -90px;
  _background: url("/admin/image/feed-icons-ie.png") no-repeat 0 -90px;
  width: 30px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
}
@-webkit-keyframes animLinkToPost {
  0% {
    background-position: 0 -90px;
  }
  10% {
    background-position: -40px -90px;
  }
  30% {
    background-position: -80px -90px;
  }
  70% {
    background-position: -120px -90px;
  }
  100% {
    background-position: -160px -90px;
  }
}
@-moz-keyframes animLinkToPost {
  0% {
    background-position: 0 -90px;
  }
  10% {
    background-position: -40px -90px;
  }
  30% {
    background-position: -80px -90px;
  }
  70% {
    background-position: -120px -90px;
  }
  100% {
    background-position: -160px -90px;
  }
}
@-ms-keyframes animLinkToPost {
  0% {
    background-position: 0 -90px;
  }
  10% {
    background-position: -40px -90px;
  }
  30% {
    background-position: -80px -90px;
  }
  70% {
    background-position: -120px -90px;
  }
  100% {
    background-position: -160px -90px;
  }
}
.feed a.link-to-post:hover {
  background-position: -160px -90px;
  -webkit-animation: animLinkToPost 100ms step-start;
  -moz-animation: animLinkToPost 100ms step-start;
  -ms-animation: animLinkToPost 100ms step-start;
}
.feed .feed-hd {
  padding: 15px 22px 0;
  overflow: hidden;
}
.feed .feed-hd.no-content {
  height: 0;
}
.feed .feed-bd {
  padding: 0 22px 6px;
  *padding-bottom: 0px;
}
.feed-hd .feed-basic {
  float: left;
  height: 16px;
  line-height: 1;
  width: 370px;
  overflow: hidden;
}
.feed-hd .feed-basic .repost-from {
  font-size: 12px;
  font-weight: normal;
  padding-left: 5px;
  color: #B4B4B4;
}
.feed-hd .repost-from .repost-from-name {
  padding-left: 5px;
}
.feed-hb .repost-from .repost-from-name:hover {
  text-decoration: none;
}
.feed-bd.no-hd-content .feed-ct {
  margin-top: 5px;
}
.feed-bd.no-hd-content .feed-title {
  margin-top: 0;
}
.mod-contributefeed .feed-hd .feed-basic {
  color: #A8B1BA;
}
.mod-contributefeed .feed-hd .feed-basic .feed-user {
  padding: 0 5px;
}
.feed-bd .feed-title {
  color: #444;
  font-size: 22px;
  font-weight: normal;
  _font-weight: bold;
  line-height: 1.3em;
  margin: 10px 0 0;
  word-wrap: break-word;
  clear: both;
  overflow: hidden;
  _overflow: visiable;
}
html.hasFontSmoothing-false .feed-bd .feed-title {
  font-weight: bold;
}
.feed-bd .photos-count {
  padding-left: 5px;
  font-size: 14px;
}
.feed-bd .photos-desc {
  margin-top: 10px;
}
.feed-bd a.feed-user {
  font-size: 12px;
  color: #A8B1BA;
  font-weight: normal;
  padding-right: 5px;
}
.feed-bd a.feed-user:hover {
  text-decoration: none;
  color: #7B8994;
}
.feed-bd .feed-time {
  color: #A8B1BA;
  display: none;
}
.feed-bd .feed-inf {
  float: right;
  color: #A8B1BA;
}
.feed-bd .feed-ct {
  clear: both;
  clear: both;
  word-wrap: break-word;
  margin: 0 0 10px;
  width: 500px;
  overflow: hidden;
}
.feed-bd .feed-ct a {
  color: #444;
  text-decoration: underline;
}
.feed-bd .feed-txt-full {
  padding-top: 10px;
}
.feed-bd.no-hd-content .feed-txt-full {
  padding-top: 0;
}
/* WTF IE6/7 using padding-right may cause js calculate image with wrong! */
.feed-bd .feed-txt-summary,
.feed-bd .feed-txt-full,
.feed-bd .feed-link-desc {
  line-height: 20px;
  color: #444;
  font-size: 14px;
}
.feed-bd .feed-link-desc {
  margin-top: 10px;
}
.feed-bd .feed-txt-showfull {
  color: #0F7DBC;
  font-size: 12px;
  padding-top: 5px;
  display: block;
  font-weight: bold;
  width: 60px;
}
.feed-bd .feed-txt-more {
  clear: both;
  color: #8F8F8F;
  padding-top: 15px;
  font-size: 12px;
  clear: both;
}
.feed-bd .feed-txt-more a {
  color: #8F8F8F;
}
.feed-bd .text-img-thumb {
  cursor: pointer;
  display: block;
}
.feed-bd .feed-microtext-content {
  font-size: 22px;
  _font-weight: bold;
  line-height: 1.3em;
  margin: 5px 0;
  word-wrap: break-word;
}
html.hasFontSmoothing-false .feed-bd .feed-microtext-content {
  font-weight: bold;
}
.feed-bd .feed-repost .feed-microtext-content {
  font-size: 14px;
}
.feed-bd .feed-microtext-content a {
  color: #444;
  text-decoration: underline;
}
.feed-bd .feed-tag {
  float: left;
  color: #A8B1BA;
  width: 200px;
  height: 22px;
  line-height: 14px;
  overflow: hidden;
  display: block;
}
.feed-bd .feed-tag a {
  float: left;
  margin-right: 6px;
  height: 19px;
  line-height: 19px;
  margin-bottom: 10px;
}
.feed-bd .feed-tag a.last {
  margin-right: 0;
}
.feed-bd .feed-tag .editor-pick-tag {
  height: 18px;
  line-height: 18px;
  border-bottom: 1px solid #1e3b50;
  background: #144668;
  background: -moz-linear-gradient(top, #235b7b, #144465);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#235b7b), to(#144465));
  background: -o-linear-gradient(top, #235b7b, #144465);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 0 5px;
  box-shadow: 1px 1px 1px #CCC;
  -o-box-shadow: 1px 1px 1px #CCC;
  -webkit-box-shadow: 1px 1px 1px #CCC;
  -moz-box-shadow: 1px 1px 1px #CCC;
  color: #fff;
}
.feed-bd .feed-from-share,
.feed-from-api {
  float: left;
  color: #B4B4B4;
  max-width: 110px;
  text-overflow: ellipsis;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  display: inline;
  margin-right: 10px;
}
.feed-bd .feed-act {
  float: right;
  height: 22px;
}
.feed-bd .feed-fav,
.feed-bd .feed-rt,
.feed-bd .feed-cmt,
.feed-bd .feed-del,
.feed-bd .feed-edit,
.feed-bd .feed-nt,
.feed-bd .feed-block,
.feed-bd .feed-top,
.feed-bd .feed-untop,
.feed-bd .feed-report,
.feed-bd .editor-promote-cancel,
.feed-bd .editor-warning,
.feed-bd .editor-black,
.feed-bd .editor-black-top10,
.feed-bd .editor-unblack-top10 {
  margin-left: 10px;
  float: right;
  height: 16px;
  line-height: 16px;
  color: #B4B4B4;
  cursor: pointer;
}
.feed-bd .feed-fav:hover,
.feed-bd .feed-rt:hover,
.feed-bd .feed-cmt:hover,
.feed-bd .feed-del:hover,
.feed-bd .feed-edit:hover,
.feed-bd .feed-nt:hover,
.feed-bd .feed-block:hover,
.feed-bd .feed-top:hover,
.feed-bd .feed-untop:hover,
.feed-bd .feed-report:hover,
.feed-bd .editor-promote-cancel:hover,
.feed-bd .editor-warning:hover,
.feed-bd .editor-black:hover,
.feed-bd .editor-black-top10:hover,
.feed-bd .editor-unblack-top10:hover {
  color: #8F8F8F;
}
.feed-bd .feed-act a,
.feed-contribute-preview-form {
  margin-left: 10px;
  float: right;
  height: 18px;
  line-height: 18px;
}
.feed-bd .feed-fav {
  background: url("/admin/image/feed-icons.png") no-repeat scroll -59px -27px;
  _background: url("/admin/image/feed-icons-ie.png") no-repeat scroll -59px -27px;
  text-indent: -9999em;
  width: 16px;
  height: 16px;
}
.feed-bd a.feed-fav:hover {
  background-position: -59px 2px;
}
.feed-bd a.feed-fav.faved {
  background-position: -89px -58px;
}
.feed-bd a.feed-fav.faved-frame1 {
  background-position: -119px -58px;
  width: 18px;
  height: 18px;
  margin: -1px -1px -1px 9px;
}
.feed-bd a.feed-fav.faved-frame2 {
  background-position: -149px -58px;
  width: 20px;
  height: 20px;
  margin: -2px -2px -2px 8px;
}
.feed a.editor-ex-slide {
  display: inline-block;
  height: 11px;
  width: 12px;
  background: url(/admin/image/editor-control.png) 0 2px no-repeat scroll;
}
.feed a.editor-ex-slide:hover {
  background-position: 0 -38px;
}
.feed a.editor-ex-btn-hide {
  background-position: 0 -78px;
}
.feed a.editor-ex-btn-hide:hover {
  background-position: 0 -118px;
}
.feed a.editor-ex-btn {
  display: none;
  color: #8F8F8F;
  margin-left: 10px;
}
.feed a.editor-ex-btn:hover {
  color: #444;
}
.feed span.editor-split {
  display: inline-block;
  width: 1px;
  height: 8px;
  background-color: #ede1e1;
  margin-left: 10px;
}
.feed a.editor-promote,
.feed a.editor-block,
.feed a.editor-pick,
.feed a.editor-block-top10,
.feed a.editor-unblock-top10 {
  margin-left: 10px;
  color: #d9b0af;
}
.feed a.editor-promote:hover,
.feed a.editor-block:hover,
.feed a.editor-pick:hover,
.feed a.editor-block-top10:hover,
.feed a.editor-unblock-top10:hover {
  color: #d10909;
}
.feed a.editor-promoted {
  position: absolute;
  z-index: 100;
  top: 0px;
  right: 0;
  width: 32px;
  text-indent: -9999px;
  height: 30px;
  background: url(/admin/image/editor-promote.png) 0 -71px no-repeat scroll;
  display: inline-block;
}
.feed a.editor-promote-cancel {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  text-indent: -9999px;
  height: 30px;
  display: inline-block;
  background: url(/admin/image/editor-promote.png) 0 -4px no-repeat scroll;
}
.feed .editor-control-panel {
  position: absolute;
  right: 30px;
  top: 1px;
  height: 44px;
  line-height: 44px;
  font-size: 12px;
}
.feed .post-flag-panel {
  position: absolute;
  right: 30px;
  top: 1px;
  height: 33px;
  line-height: 33px;
  font-size: 12px;
}
.feed .post-flag-panel .post-top-flag,
.feed .post-flag-panel .post-privacy-flag {
  display: block;
  float: right;
  width: 32px;
  height: 30px;
  text-indent: -9999px;
  margin-left: 10px;
  background: url(/admin/image/feed-icons.png);
  _background-image: url(/admin/image/feed-icons-ie.png);
}
.feed .post-flag-panel .post-top-flag {
  background-position: -150px -153px;
}
.feed .post-flag-panel .post-privacy-flag {
  background-position: -191px -153px;
}
.feed .editor-control-panel-ext {
  padding-right: 45px;
  overflow: hidden;
}
.repost-feed .repost-reason {
  width: 490px;
  height: 80px;
  border-color: #ccc;
}
.repost-feed .repost-tip {
  color: #444;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 5px;
}
.repost-feed .blue-button {
  float: right;
  margin-top: 15px;
}
.more-act-holder {
  clear: both;
  margin: 0 -20px -15px;
  overflow: hidden;
}
.feed-comment,
.repost-feed,
.feed-notes {
  background: url('/admin/image/feed-bg-sprites.png') -2400px 0 repeat-y;
  _background: url('/admin/image/feed-bg-sprites-ie.png') -2400px 0 repeat-y;
  margin: 0 1px;
  padding-top: 15px;
  position: relative;
  clear: both;
}
.feed-ft .feed-ft-triangle {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background: url('/admin/image/feed-ft-triangle.png') no-repeat;
}
.repost-feed .repost-triangle {
  left: 470px;
}
.feed-notes .feed-notes-triangle {
  left: 400px;
}
.feed-comment-tips {
  padding: 5px 20px 12px;
  color: #A0A2A3;
}
.feed-comment .add-comment {
  padding: 6px 20px;
  position: relative;
}
.feed-comment .photo-reply {
  position: absolute;
  bottom: 18px;
  right: 107px;
  z-index: 2;
}
.feed-comment .add-comment .ui-textarea {
  float: left;
}
.feed-comment .add-comment .ui-button {
  float: right;
}
.feed-comment .cmt-avatar,
.feed-notes .notes-avatar {
  background: #FFF;
  box-shadow: 0 1px 3px #999C9D;
}
.feed-comment .cmt-at-list {
  padding: 8px 20px 0px;
}
.feed-comment .add-comment.waiting .input-cmt {
  color: #d4dde4;
  width: 500px;
  resize: none;
}
.feed-comment .add-comment.waiting .add-cmt-btn {
  display: none;
}
/**
 * 未登录，登录提示
 */
.feed-comment .feed-cmt-not-login {
  padding: 5px 0 12px;
  text-align: center;
  font-size: 12px;
}
.comment .feed-comment .feed-cmt-not-login {
  padding: 5px 0 4px;
}
.feed-comment .feed-cmt-not-login a {
  color: #0F3D5E;
}
.feed-comment .at-item {
  display: inline;
  float: left;
  margin: 0 8px 4px 0;
  background: #caccce;
  color: #787a7a;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 6px;
}
.feed-comment .cmt-prefix {
  display: inline;
  float: left;
  margin: 0 8px 4px 0;
  color: #787a7a;
  font-size: 12px;
  line-height: 12px;
  padding: 5px 6px;
}
.feed-comment .at-cancel {
  font-family: "Gill Sans MT", "Arial Black";
  margin-left: 5px;
  color: #787a7a;
  cursor: pointer;
}
/*第三方评论*/
.feed-comment .register-third {
  color: #9d9fa0;
  border-bottom: 1px solid #C6C8CA;
  padding-bottom: 10px;
}
.feed-comment .register-third.noborder {
  border-bottom: none;
  padding-bottom: 0;
}
.feed-comment .register-third-items span,
.feed-comment .register-third-items a {
  float: left;
  display: inline;
}
.feed-comment .register-third-items {
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  line-height: 24px\9;
  width: 260px;
  margin: 0 auto;
  padding: 10px 0;
}
.feed-comment .register-third-items span {
  margin-right: 10px;
}
.feed-comment .register-third-items .login-icon {
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
  background-image: url('/admin/image/comment-notes.png');
  background-repeat: no-repeat;
  margin-right: 5px;
}
.feed-comment .register-third-items a.login-dd {
  background-position: 0 0;
}
.feed-comment .register-third-items a.login-dd:hover {
  background-position: 0 -20px;
}
.feed-comment .register-third-items a.login-sina {
  background-position: -71px 0;
}
.feed-comment .register-third-items a.login-sina:hover {
  background-position: -71px -20px;
}
.feed-comment .register-third-items a.login-renren {
  background-position: -47px 0;
}
.feed-comment .register-third-items a.login-renren:hover {
  background-position: -47px -20px;
}
.feed-comment .register-third-items a.login-qq {
  background-position: -23px 0;
}
.feed-comment .register-third-items a.login-qq:hover {
  background-position: -23px -20px;
}
.feed-comment .register-third-items a.login-douban {
  background-position: -98px 0;
}
.feed-comment .register-third-items a.login-douban:hover {
  background-position: -98px -20px;
}
.feed-comment .register-third-panel {
  text-align: right;
  padding: 0 95px 0 0;
}
.feed-comment .register-third-panel .register-third-title {
  margin-right: 5px;
}
.feed-comment .register-third-panel .register-third-logout {
  color: #b9bbbe;
  margin-right: 10px;
}
.feed-comment .register-third-panel .register-third-sync input {
  margin-right: 5px;
  vertical-align: bottom\9;
}
.feed-notes .feed-notes-list .notes-item-hd {
  position: relative;
}
.feed-notes .nt-cmt .notes-icon,
.feed-notes .nt-fav .notes-icon,
.feed-notes .nt-rt .notes-icon {
  position: absolute;
  top: 0;
  right: -4px;
  width: 20px;
  height: 20px;
  background: url("/admin/image/feed-icons.png") no-repeat 2px -58px scroll;
  _background: url("/admin/image/feed-icons-ie.png") no-repeat 2px -28px scroll;
}
.feed-notes .nt-fav .notes-icon {
  background-position: -58px -56px;
  _background-position: -58px -26px;
}
.feed-notes .nt-cmt .notes-icon {
  background-position: -28px -56px;
  _background-position: -28px -26px;
}
.feed-comment .cmt-list,
.feed-notes .feed-notes-list {
  clear: both;
  padding: 0 !important;
  list-style: none outside;
}
.feed-notes .feed-notes-list {
  padding: 0 !important;
  zoom: 1;
}
.feed-comment .cmt-list li,
.feed-notes .feed-notes-list li {
  padding: 7px 20px;
  border-top: 1px solid #C6C8CA;
  line-height: 20px;
  word-wrap: break-word;
}
.feed-comment .cmt-list li.first-cmt,
.feed-notes .feed-notes-list li.first {
  padding: 0 20px 7px;
  border-top: none;
}
.feed-comment .cmt-list li .cmt-content {
  word-wrap: break-word;
}
.feed-comment .cmt-list li .cmt-content a {
  color: #0F3D5E;
}
.feed-comment .cmt-list li img,
.feed-notes .feed-notes-list li img {
  float: left;
  margin-right: 10px;
  display: block;
}
.feed-comment .cmt-list .cmt-main {
  display: block;
  float: left;
  width: 360px;
}
.feed-comment .cmt-list .cmt-photo,
.feed-notes .feed-notes-list .notes-photo {
  display: block;
  clear: both;
  margin: 10px 0 0 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: #fff;
  overflow: hidden;
  padding: 3px;
}
.feed-comment .cmt-list .cmt-photo .photo-i,
.feed-notes .feed-notes-list .notes-photo .photo-i {
  overflow: hidden;
}
.feed-comment .cmt-list .cmt-photo img,
.feed-notes .feed-notes-list .notes-photo img {
  cursor: pointer;
  display: block;
}
.feed-notes .feed-notes-list .notes-photo-o {
  margin-left: 32px;
  border-left: 1px solid #bbbdbf;
  padding-left: 8px;
  padding-top: 5px;
}
.feed-notes .feed-notes-list .notes-photo {
  margin: 0;
}
.feed-comment .cmt-load-more {
  color: #678cb2;
  border-bottom: 1px solid #678cb2;
  cursor: pointer;
}
.feed-notes .feed-notes-list .notes-info {
  float: left;
  width: 450px;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
}
.feed-notes .notes-info a {
  text-decoration: underline;
}
.feed-notes .feed-notes-list .notes-comment {
  border-left: 1px solid #bbbdbf;
  padding-left: 8px;
  margin: 10px 0 0 32px;
  overflow: hidden;
  word-wrap: break-word;
}
.feed-notes .feed-notes-body .feed-notes-text {
  display: block;
  padding: 0px 20px 8px;
}
.feed-comment .cmt-list .cmt-user,
.feed-notes .feed-notes-list .notes-user {
  color: #0f3d5e;
  padding-right: 6px;
  /*font-weight: bold;*/

  text-decoration: none;
}
.feed-notes .feed-notes-list a {
  color: #0f3d5e;
  text-decoration: none;
}
.feed-comment .cmt-list .cmt-time {
  color: #999;
  padding: 0 10px;
}
.feed-comment .cmt-list .cmt-report,
.feed-comment .cmt-list .cmt-block,
.feed-comment .cmt-list .cmt-del,
.feed-comment .cmt-list .cmt-reply {
  margin: 0 0 0 8px;
  float: right;
  display: inline;
  color: #B4B4B4;
  width: 26px;
  text-align: right;
}
.feed-comment .cmt-list .cmt-report:hover,
.feed-comment .cmt-list .cmt-block:hover,
.feed-comment .cmt-list .cmt-del:hover,
.feed-comment .cmt-list .cmt-reply:hover {
  color: #8F8F8F;
}
.feed-comment .cmt-more {
  padding-top: 10px;
  text-align: right;
  border-top: 1px dashed #E4E3E3;
}
.feed-comment .cmt-more .show-more-cmt {
  float: left;
}
.feed-comment .cmt-pre-page {
  padding-right: 5px;
}
.feed-text .feed-title.no-content {
  margin-bottom: 10px;
}
.feed img.feed-img {
  cursor: pointer;
}
.feed img.slide-show {
  cursor: inherit;
}
.feed-img-thumb img.repost-img-overwidth {
  width: 465px !important;
  height: auto !important;
}
.feed-img-thumb.post-one-img img {
  float: left;
  margin-right: 15px;
}
.post-some-img .feed-one-img {
  float: left;
  width: 100px;
  height: 100px;
}
.post-some-img .feed-one-img img {
  width: 100px;
  height: 100px;
}
.post-some-img .large-one-img {
  float: none;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}
.post-some-img .large-one-img img {
  width: auto;
  height: auto;
  display: block;
}
.feed-img-all.post-some-img .feed-big-img {
  margin-bottom: 15px;
}
.feed-img-all .feed-img-desc {
  padding-bottom: 15px;
  margin-top: -10px;
  font-size: 14px;
}
.feed-img-all .feed-img-desc.last {
  padding: 0;
}
.feed-img-all .feed-big-img .feed-img-desc {
  padding: 10px 0 0;
  margin: 0;
}
.feed-img-all .feed-big-img img {
  display: block;
  background: #ffffff url(/admin/image/loading-small.gif) no-repeat center center;
  _float: none;
}
.feed-img-all .feed-big-img .feed-big-img-holder {
  position: relative;
}
.feed-img-all .feed-big-img .feed-img-index {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  padding: 5px 8px;
  _bottom: auto;
  _margin-top: -27px;
}
.feed-big-img {
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.img-exif-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px 30px;
  visibility: hidden;
}
.feed-big-img:hover .img-exif-holder.enable,
.feed-big-img.hover .img-exif-holder.enable,
.dd-feed-slide-current-img-wrap:hover .img-exif-holder.enable,
.img-exif-holder.open {
  visibility: visible;
}
.img-exif-holder .exif-mask,
.img-exif-holder .exif-info {
  display: none;
}
.img-exif-holder.open .exif-mask,
.img-exif-holder.open .exif-info {
  display: block;
}
.img-exif-holder .exif-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.img-exif-holder .exif-info {
  position: relative;
  z-index: 2;
}
.img-exif-holder .exif-hd {
  text-align: right;
  font-weight: normal;
  color: #aaa;
  padding-right: 20px;
  padding-bottom: 1px;
  width: 85px;
  vertical-align: top;
}
.img-exif-holder .exif-bd {
  color: #fff;
  border-bottom: 1px solid #222;
}
.img-exif-holder .exif-toggler {
  width: 22px;
  height: 22px;
  overflow: hidden;
  background: url("/admin/image/feed-icons.png") no-repeat scroll -50px -150px;
  position: absolute;
  left: 40px;
  bottom: 10px;
  text-indent: -9999em;
  z-index: 3;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.img-exif-holder .exif-toggler:active,
.img-exif-holder .exif-toggler:hover,
.img-exif-holder.open .exif-toggler {
  background-position: -72px -150px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.img-exif-holder .gps-detail {
  background: url(/admin/image/feed-exif-detail.png) no-repeat right 3px;
  cursor: pointer;
  padding-right: 11px;
}
.feed-img-too-high-tip {
  display: none;
  height: 32px;
  background: url(/admin/image/feed-img-too-high-tip.png) center 0;
  width: 100%;
  text-indent: -9999px;
}
.feed-img-too-high-tip:hover {
  background-position: center bottom;
}
.feed-img-too-high {
  position: relative;
}
.feed-img-too-high .feed-big-img {
  height: 700px;
  overflow: hidden;
}
.feed-img-too-high .feed-img-too-high-tip {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.feed-img-too-high .feed-one-img-thumb {
  height: 400px;
  overflow: hidden;
}
.text-img-holder {
  float: left;
  margin-right: 15px;
}
.text-img-holder.text-img-too-high {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.text-img-holder.text-img-too-high .text-img-too-high-tip {
  height: 33px;
  background: url(/admin/image/feed-img-too-high-tip.png) center 0;
  width: 100%;
  text-indent: -9999px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.feed-img-too-hight-close-holder {
  font-size: 10px;
  text-align: right;
}
.feed-img-too-hight-close-holder span {
  cursor: pointer;
}
.feed-bd .feed-img-thumb,
.feed-bd .feed-img-all {
  margin-top: 10px;
}
.feed-bd.no-hd-content .feed-img-thumb.no-title,
.feed-bd.no-hd-content .feed-img-all.no-title {
  margin-top: 0;
}
.feed-video-img-holder {
  position: relative;
  float: left;
  margin-right: 10px;
  height: 113px;
  overflow: hidden;
}
.feed-video .feed-video-img,
.feed-video .feed-video-img {
  cursor: pointer;
  width: 150px;
  height: 113px;
}
.feed-video .feed-video-play,
.feed-video .feed-video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  display: block;
  width: 43px;
  height: 48px;
  background: url(/admin/image/player.png) no-repeat;
  _background-image: url(/admin/image/player-ie6.png);
  text-indent: -9999px;
}
.feed-video .feed-video-cmt,
.feed-video .feed-video-cmt {
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;
}
.feed-video .feed-bd .feed-ct {
  margin-top: 10px;
}
.feed-video .feed-ct .feed-video-footer {
  font-size: 10px;
}
.feed-video .feed-ct .feed-video-link {
  float: left;
}
.feed-video .feed-ct .feed-video-close,
.feed-video .feed-ct .feed-video-close {
  text-decoration: none;
  float: right;
}
.feed-video .feed-video-info {
  padding-top: 8px;
}
.feed .repost-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.feed .repost-title a {
  color: #444;
  text-decoration: underline;
}
.feed .feed-full-video {
  background-color: #f3f3f3;
}
.feed-audio .feed-bd .feed-ct,
.feed-useraudio .feed-bd .feed-ct {
  padding-top: 10px;
}
.feed-audio .feed-audio-img,
.feed-useraudio .feed-audio-img {
  float: left;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-right: 15px;
}
.feed-audio .feed-audio-img img,
.feed-useraudio .feed-audio-img img {
  cursor: pointer;
}
.feed-audio .feed-audio-main,
.feed-useraudio .feed-audio-main {
  float: left;
}
.feed-audio .feed-audio-player,
.feed-useraudio .feed-audio-player {
  margin-bottom: 10px;
  height: 33px;
  float: left;
  width: 335px;
}
.feed-audio blockquote .feed-audio-player,
.feed-useraudio blockquote .feed-audio-player {
  width: 306px;
}
.feed-audio .cover-expand .feed-audio-img,
.feed-useraudio .cover-expand .feed-audio-img {
  width: 500px;
  height: auto;
  float: none;
  margin: 0 0 10px;
}
.feed-audio-comment .feed-thumb-open,
.feed-video-cmt .feed-thumb-open {
  margin: 10px 0;
}
/*
.feed-audio.feed-repost .cover-expand .feed-audio-img{
    width:471px;
}
*/
.feed-audio .cover-expand .feed-audio-comment,
.feed-useraudio .cover-expand .feed-audio-comment {
  clear: both;
}
.feed-audio .xiami-player {
  width: 257px;
  height: 33px;
  background: url(/admin/image/xiami_player.png) no-repeat;
}
.feed-audio .xiami-player a {
  display: block;
  padding: 0 40px;
  line-height: 33px;
  height: 33px;
  overflow: hidden;
  text-decoration: underline;
}
.feed-audio .feed-audio-comment,
.feed-useraudio .feed-audio-comment {
  word-wrap: break-word;
  font-size: 14px;
}
.feed-audio .cover-expand .feed-audio-comment,
.feed-useraudio .cover-expand .feed-audio-comment {
  width: 500px;
}
.feed-audio .cover-expand .feed-audio-comment,
.feed-useraudio .cover-expand .feed-audio-comment {
  width: 471px;
}
.post-source-iphone,
.post-source-ipad,
.post-source-smart,
.post-source-android,
.post-source-symbian,
.post-source-share,
.post-source-transfer,
.post-source-api {
  display: inline-block;
  line-height: 12px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(/admin/image/feed-icons.png);
  background-repeat: no-repeat;
  margin-left: 2px;
}
.post-source-iphone {
  width: 11px;
  height: 13px;
  background-position: -270px -30px;
}
a.post-source-iphone:hover {
  background-position: -270px 0;
}
.post-source-smart {
  width: 8px;
  height: 13px;
  background-position: -210px -30px;
}
a.post-source-smart:hover {
  background-position: -210px 0;
}
.post-source-android {
  width: 12px;
  height: 13px;
  background-position: -240px -30px;
}
a.post-source-android:hover {
  background-position: -240px 0px;
}
.post-source-ipad {
  width: 10px;
  height: 12px;
  background-position: -150px -30px;
}
a.post-source-ipad:hover {
  background-position: -150px 0;
}
.post-source-symbian {
  width: 7px;
  height: 13px;
  background-position: -180px -30px;
}
a.post-source-symbian:hover {
  background-position: -180px 0;
}
.post-source-share {
  width: 14px;
  height: 14px;
  background-position: -353px -28px;
}
a.post-source-share:hover {
  background-position: -353px 1px;
}
.post-source-transfer {
  width: 14px;
  height: 14px;
  background-position: -380px -29px;
}
a.post-source-transfer:hover {
  background-position: -380px 1px;
}
.post-source-api {
  width: 16px;
  height: 14px;
  background-position: -408px -30px;
}
a.post-source-api:hover {
  background-position: -408px 0;
}
.feed-repost .repost-ct-from {
  font-size: 14px;
  margin-bottom: 10px;
}
.feed-repost blockquote {
  border-left: 4px solid gainsboro;
  margin: 10px 0 10px 10px;
  padding-left: 15px;
}
.feed .post-time {
  padding-right: 6px;
}
.feed-repost .repost-link-title,
.feed-repost .repost-text-title,
.feed-repost .repost-photo-title {
  font-size: 14px;
  margin-bottom: 5px;
}
.feed-privacy {
  height: 20px;
  line-height: 20px;
  color: #999;
  background: url(/admin/image/home.png) no-repeat 0 -550px;
  padding-left: 15px;
  _background-image: url(/admin/image/home_ie6.png);
}
.user-repeat {
  margin-top: -12px;
}
.user-repeat .feed-avatar,
.user-repeat .pop-triangle {
  visibility: hidden;
}
.feed ul {
  list-style: disc outside;
  padding: 10px 0 10px 30px;
}
/*退稿*/
.return-contribute {
  font-size: 14px;
}
/*预览*/
.feed-contribute-preview {
  color: #B3BBC3;
  cursor: pointer;
}
.feed-contribute-preview:hover {
  color: #7B8994;
}
/*标签页，热门下博客头像左下角热度样式*/
.rank-list {
  background: url(/admin/image/hot-tag-icon.png) left top no-repeat;
  width: 27px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 3;
  left: -11px;
  bottom: -9px;
  zoom: 1;
}
/*photo feed layout css*/
.feed-photo-layout-row {
  margin-top: 10px;
}
.feed-photo-layout-row.first {
  margin-top: 0;
}
.feed-photo-layout-cell {
  float: left;
  margin-left: 10px;
  overflow: hidden;
}
.feed-photo-layout-cell.first {
  margin-left: 0;
}
.paging-feed-top {
  padding-left: 85px;
}
.page-dianlog .paging-feed-top {
  margin-bottom: 22px;
}
.page-favs .paging-feed-top {
  margin-bottom: 25px;
}
.paging-feed .paging-feed-back:hover {
  color: #8f8f8f;
}
.paging-feed {
  padding: 10px 0;
  padding-left: 80px;
}
.paging-feed .paging-feed-back,
.paging-feed .paging-feed-back:visited {
  float: left;
  background-position: 0 2px;
  *background-position: 0 0;
  color: #b4b4b4;
  line-height: 30px;
}
.paging-feed .page-nav {
  float: right;
  margin-left: 8px;
}
.paging-feed .page-nav a {
  color: #8e8e8e;
  display: block;
}
.feed-container-top {
  height: 5px;
  background: url('/admin/image/feed-bg-sprites.png') 0 0 no-repeat;
  _background: url('/admin/image/feed-bg-sprites-ie.png') 0 0 no-repeat;
}
.feed-ft-bottom,
.feed-container-bottom {
  height: 10px;
  font-size: 0;
  line-height: 0;
  background: url('/admin/image/feed-bg-sprites.png') -600px bottom no-repeat;
  _background: url('/admin/image/feed-bg-sprites-ie.png') -600px bottom no-repeat;
}
.feed-ft {
  padding: 0 1px;
  position: relative;
  zoom: 1;
}
.feed-ft-bottom {
  width: 544px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border: none;
}
.feed-expand .feed-container-bottom {
  display: none;
}
.feed-fold-footer {
  margin: 0 1px 4px;
  border-top: 1px solid #C6C8CA;
  height: 30px;
  background: url('/admin/image/feed-bg-sprites.png') -1800px bottom no-repeat;
  _background: url('/admin/image/feed-bg-sprites-ie.png') -1800px bottom no-repeat;
  padding: 0 20px;
}
.feed-fold-footer .btn-icon {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  height: 9px;
  width: 14px;
  background: url('/admin/image/feed-icons.png') no-repeat;
  _background: url('/admin/image/feed-icons-ie.png') no-repeat;
}
.feed-fold-footer a.fold-btn-loading,
.feed-fold-footer a.fold-btn-close,
.feed-fold-footer a.fold-btn-more {
  color: #A0A2A3;
  height: 30px;
  line-height: 29px;
  padding-left: 20px;
  position: relative;
  zoom: 1;
}
.feed-fold-footer a.fold-btn-loading:hover,
.feed-fold-footer a.fold-btn-close:hover,
.feed-fold-footer a.fold-btn-more:hover {
  color: #828384;
}
.feed-fold-footer a.fold-btn-close {
  float: right;
}
.feed-fold-footer a.fold-btn-close .btn-icon {
  background-position: -120px -30px;
}
.feed-fold-footer a.fold-btn-close:hover .btn-icon {
  background-position: -120px 0;
}
.feed-fold-footer a.fold-btn-more {
  float: left;
}
.feed-fold-footer a.fold-btn-more .btn-icon {
  background-position: -90px -30px;
}
.feed-fold-footer a.fold-btn-more:hover .btn-icon {
  background-position: -90px 0;
}
.feed-fold-footer a.fold-btn-loading {
  float: left;
}
.editor-warning-body dd {
  padding: 5px 0;
}
.editor-warning-body .ui-radiobox {
  margin-right: 8px;
}
.editor-warning-body dd.error-tips {
  display: none;
  color: red;
}
.feed-new-post-guide {
  background: url(/admin/image/sidemenu-item.png) repeat;
  border: 1px solid #C7CACC;
  box-shadow: inset 0 0 3px #cccccc;
  -moz-box-shadow: inset 0 0 3px #cccccc;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  box-shadow: inset 0 0 3px #cccccc;
  -moz-box-shadow: inset 0 0 3px #cccccc;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  box-shadow: inset 0 0 3px #cccccc;
  -moz-box-shadow: inset 0 0 3px #cccccc;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  padding: 25px 20px 30px;
  margin-bottom: -5px;
  height: 66px;
  overflow: hidden;
  margin-top: 5px;
  margin-left: 1px;
  width: 500px;
}
.new-post-guide-nosync .feed-new-post-guide {
  height: 45px;
}
.new-post-guide .pop-triangle {
  top: 148px;
}
.new-post-guide .feed-avatar {
  top: 123px;
}
.new-post-guide .feed-avatar:active {
  top: 124px;
}
.new-post-guide-nosync .pop-triangle {
  top: 124px;
}
.new-post-guide-nosync .feed-avatar {
  top: 99px;
}
.new-post-guide-nosync .feed-avatar:active {
  top: 100px;
}
.feed-new-post-guide .new-post-guide-tip {
  background: url(/admin/image/feed-new-post-guide.png) no-repeat 0 1px;
  padding-left: 20px;
  line-height: 16px;
  margin-bottom: 10px;
  color: #444;
}
.feed-new-post-guide .new-post-guide-url {
  padding-left: 20px;
  margin-bottom: 10px;
  line-height: 14px;
}
.feed-new-post-guide .new-post-guide-url a {
  float: left;
  color: #456780;
  text-decoration: underline;
  max-width: 410px;
  text-overflow: ellipsis;
  height: 14px;
  overflow: hidden;
}
.feed-new-post-guide .new-post-guide-url-r {
  float: left;
  color: #8f8f8f;
  display: inline;
  margin-left: 10px;
  position: relative;
}
.feed-new-post-guide .new-post-guide-url-r span.on {
  color: #444;
}
.feed-new-post-guide .new-post-guide-url-copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 48px;
  height: 14px;
}
.feed-new-post-guide a.new-post-guide-sync {
  margin-left: 20px;
  color: #8f8f8f;
}
.feed-new-post-guide a.new-post-guide-sync:hover {
  color: #444;
}
.feed-new-post-guide a.new-post-guide-close {
  float: right;
  width: 9px;
  height: 9px;
  text-indent: -9999px;
  background: url(/admin/image/small-close-icon.png) no-repeat 0 0;
  margin: -16px -10px 0 0;
  cursor: pointer;
}
.feed-new-post-guide a.new-post-guide-close:hover {
  background-position: 0 -20px;
}
.feed-slide-hook {
  width: 22px;
  height: 22px;
  overflow: hidden;
  background: url("/admin/image/feed-icons.png") no-repeat scroll -50px -172px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  text-indent: -9999em;
  z-index: 3;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: none;
}
.feed-slide-hook:hover,
.feed-slide-hook:active {
  background-position: -72px -172px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.feed-big-img:hover .feed-slide-hook,
.feed-big-img.hover .feed-slide-hook {
  display: block;
}
.feed-img-too-high .feed-big-img .feed-slide-hook {
  display: none;
}
.editor-pick-list {
  line-height: 20px;
}
.editor-pick-list .editor-pick-item {
  white-space: nowrap;
  float: left;
}
.editor-pick-list .editor-pick-item .ui-radiobox {
  margin-bottom: 10px;
  margin-right: 5px;
}
.editor-pick-list .editor-pick-item .ui-radiobox-label {
  margin-bottom: 10px;
  margin-right: 20px;
}
.publisher {
  position: relative;
  z-index: 2;
}
.publisher .pb-avatar {
  float: left;
  position: relative;
}
.publisher .pb-avatar:active {
  top: 1px;
  opacity: 0.9;
  *filter: Alpha(Opacity=90);
}
.publisher .pb-avatar a.blog-avatar {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center center;
  text-indent: -9999px;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
}
.publisher .pb-avatar a.author-avatar {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  bottom: -10px;
  outline: none;
}
.publisher .pb-avatar a.author-avatar span {
  display: block;
  width: 30px;
  height: 30px;
  background-position: center center;
  text-indent: -9999px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}
.publisher .pb-action-holder {
  float: left;
  width: 544px;
  position: relative;
  margin: -2px -2px -2px 19px;
}
.publisher .pb-action {
  background: url('/admin/image/feed-bg-sprites.png') -1200px 0 repeat-y;
}
.publisher .pb-action ul {
  padding: 10px 20px 5px;
}
.pb-action-shadow-top {
  height: 5px;
  background: url('/admin/image/feed-bg-sprites.png') 0 0 no-repeat;
}
.pb-action-shadow-bottom {
  height: 10px;
  background: url('/admin/image/feed-bg-sprites.png') -600px bottom no-repeat;
}
.publisher .pb-triangle {
  height: 20px;
  width: 13px;
  background: url(/admin/image/feed-icons.png) no-repeat 0 -150px;
  position: absolute;
  left: -11px;
  top: 24px;
  z-index: 1;
  overflow: hidden;
}
.publisher .pb-action li {
  float: left;
}
.publisher .pb-action li a {
  display: block;
  width: 100px;
  height: 74px;
  background: url(/admin/image/publisher.png) no-repeat 0 0;
  text-indent: -9999px;
  outline: none;
}
.publisher .pb-action li a:hover {
  background-position: 0 -74px;
}
.publisher .pb-action .music {
  background-position: -200px 0;
}
.publisher .pb-action .music:hover {
  background-position: -200px -74px;
}
.publisher .pb-action .photo {
  background-position: -100px 0;
}
.publisher .pb-action .photo:hover {
  background-position: -100px -74px;
}
.publisher .pb-action .video {
  background-position: -300px 0;
}
.publisher .pb-action .video:hover {
  background-position: -300px -74px;
}
.publisher .pb-action .link {
  background-position: -400px 0;
}
.publisher .pb-action .link:hover {
  background-position: -400px -74px;
}
.publisher-tip {
  display: block;
  width: 473px;
  height: 36px;
  line-height: 34px;
  margin-top: -1px;
  margin-left: 94px;
  padding-left: 50px;
  background: url(/admin/image/yellow-tip.png) no-repeat;
  margin-bottom: 15px;
  color: #8F8856;
  font-size: 12px;
  position: relative;
  zoom: 1;
  z-index: 1;
}
.publisher-tip a.tip-link {
  color: #444;
}
.publisher-tip a.tip-link:hover {
  text-decoration: underline;
}
.publisher-tip .tip-action {
  position: absolute;
  right: 0;
  top: 0;
  width: 9px;
  height: 9px;
  text-indent: -9999px;
  background: url(/admin/image/small-close-icon.png) no-repeat 0 0;
  margin-top: 13px;
  margin-right: 12px;
  cursor: pointer;
}
.publisher-tip .tip-action:hover {
  background-position: 0 -20px;
}
.publisher-tip.tip-grey {
  background-image: url(/admin/image/grey-tip.png);
  color: #8E8E8E;
  margin-top: -15px;
  line-height: 31px;
}
.publisher-tip.tip-grey a {
  color: #444;
}
.publisher-tip.tip-grey a:hover {
  text-decoration: underline;
}
.msg-box-item {
  color: #999;
}
.msg-box-item .msg-box-avatar {
  float: left;
  margin-left: 32px;
}
.msg-box-item .msg-box-avatar img {
  width: 32px;
  height: 32px;
  float: left;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
  box-shadow: 0 1px 2px #b0b3b6;
  -moz-box-shadow: 0 1px 2px #b0b3b6;
  -webkit-box-shadow: 0 1px 2px #b0b3b6;
}
.msg-box-item .msg-item-ct {
  background: url('/admin/image/feed-bg-sprites.png') -1200px 0 repeat-y;
  _background: url('/admin/image/feed-bg-sprites-ie.png') -1200px 0 repeat-y;
  line-height: 17px;
  padding: 7px 20px 8px;
}
.msg-box-item .msg-box-content {
  float: right;
  position: relative;
  margin: 0 -2px;
  width: 544px;
}
.msg-box-item .msg-item-bottom {
  background: url('/admin/image/feed-bg-sprites.png') -3000px 0 no-repeat;
  _background: url('/admin/image/feed-bg-sprites-ie.png') -3000px 0 no-repeat;
  height: 1px;
}
.msg-box-item.first-msg .msg-item-top {
  height: 5px;
  background: url('/admin/image/feed-bg-sprites.png') 0 0 no-repeat;
  _background: url('/admin/image/feed-bg-sprites-ie.png') 0 0 no-repeat;
}
.msg-box-item.first-msg .msg-item-ct {
  padding-top: 3px;
}
.msg-box-item.first-msg .msg-box-content {
  margin-top: -1px;
}
.msg-box-item.first-msg .msg-box-avatar img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
.msg-box-item.last-msg .msg-item-bottom {
  height: 10px;
  font-size: 0;
  line-height: 0;
  background: url('/admin/image/feed-bg-sprites.png') -600px bottom no-repeat;
  _background: url('/admin/image/feed-bg-sprites-ie.png') -600px bottom no-repeat;
}
.msg-box-item.last-msg .msg-item-ct {
  padding-bottom: 2px;
}
.msg-box-item.last-msg .msg-box-content {
  margin-bottom: -4px;
  border-bottom: 0;
}
.msg-box-item.last-msg .msg-box-avatar img {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
}
.msg-box-item .msg-item-triangle {
  position: absolute;
  width: 9px;
  height: 13px;
  background: url(/admin/image/feed-icons.png) no-repeat 0 -150px;
  left: -7px;
  top: 11px;
}
.msg-box-item a,
.msg-box-item a:link,
.msg-box-item a:visited,
.msg-box-item a:active,
.msg-box-item a:hover {
  text-decoration: underline;
  color: #999;
}
.msg-box-block,
.msg-box-reply-btn {
  float: right;
  cursor: pointer;
  margin-left: 5px;
}
.msg-start-link {
  margin-right: 5px;
}
.msg-center-link {
  margin: 0 5px;
}
.msg-label-title {
  margin-right: 5px;
}
.msg-box-extra {
  margin: 0 -18px;
  padding: 0 18px;
  clear: both;
}
.reply-expand .msg-box-extra {
  background-color: #ECECEC;
  border-top: 1px solid #DDD;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 7px;
}
.reply-expand .msg-item-ct {
  padding-bottom: 0;
}
.reply-expand.last-msg .msg-item-bottom {
  background-position: -3000px bottom;
  height: 10px;
  margin-top: -2px;
}
.msg-box-ugc {
  line-height: 18px;
  border-left: 1px solid #DADADA;
  padding-left: 10px;
  word-wrap: break-word;
  _clear: both;
}
.msg-box-type-icon {
  background: url(/admin/image/feed-icons.png) no-repeat scroll center 3px transparent;
  height: 18px;
  width: 20px;
  display: block;
  float: right;
  margin-left: 5px;
  margin-top: -1px;
}
.msg-box-follow .msg-box-type-icon {
  background-position: -298px -29px;
}
.msg-box-join .msg-box-type-icon {
  background-position: -298px -29px;
}
.msg-box-comment .msg-box-type-icon {
  background-position: -28px -26px;
}
.msg-box-reblog .msg-box-type-icon {
  background-position: 3px -29px;
}
.msg-box-at .msg-box-type-icon {
  background-position: -27px -26px;
}
.msg-box-recommend .msg-box-type-icon {
  background-position: -298px -29px;
}
.msg-box-like .msg-box-type-icon {
  background-position: -58px -26px;
}
#home-msg-box-holder {
  margin-bottom: 15px;
}
#home-msg-box-action {
  padding: 15px 0 0 102px;
}
#list-msg-box-read-more-2,
#home-msg-box-action a {
  color: #888A8B;
}
#list-msg-box-read-more-2:hover,
#home-msg-box-action a:hover {
  color: #444;
}
#home-msg-box-action .blue-button {
  float: left;
  color: #fff;
  height: 26px;
  line-height: 26px;
  margin-right: 10px;
}
#list-msg-box-read-more {
  display: block;
  width: 572px;
  height: 42px;
  background: url(/admin/image/msg-load-more.png);
  margin-top: 20px;
  float: right;
  text-indent: -9999px;
  outline: none;
}
#old-msg-title {
  color: #888A8B;
  font-weight: 400;
  margin: 15px 0 15px 70px;
}
#list-msg-box-read-more-2 {
  cursor: pointer;
  display: block;
  margin: 15px 0 15px 70px;
}
#mark-all-list-msg-read {
  float: right;
  cursor: pointer;
}
#mark-all-home-msg-read-holder {
  float: right;
}
#home-view-msg-box {
  display: block;
  float: left;
  margin-top: 7px;
}
.msg-box-infomation {
  float: left;
  width: 440px;
  overflow: hidden;
  height: 17px;
}
.msg-box-reply {
  position: relative;
}
.msg-box-reply textarea {
  float: left;
}
.msg-box-reply .ui-button {
  float: right;
}
#list-msg-box-read-more-holder {
  float: right;
  margin-top: 10px;
}
.msg-box-detail .msg-box-item .msg-item-ct {
  background: url('/admin/image/msgbox-bg.png') -1200px 0 repeat-y;
  _background: url('/admin/image/msgbox-bg-ie.png') -1200px 0 repeat-y;
}
.msg-box-detail .msg-box-item .msg-item-bottom {
  background: url('/admin/image/msgbox-bg.png') -1800px 0 no-repeat;
  _background: url('/admin/image/msgbox-bg-ie.png') -1800px 0 no-repeat;
}
.msg-box-detail .msg-box-item.first-msg .msg-item-top {
  background: url('/admin/image/msgbox-bg.png') 0 0 no-repeat;
  _background: url('/admin/image/msgbox-bg-ie.png') 0 0 no-repeat;
}
.msg-box-detail .msg-box-item.last-msg .msg-item-bottom {
  background: url('/admin/image/msgbox-bg.png') -600px bottom no-repeat;
  _background: url('/admin/image/msgbox-bg-ie.png') -600px bottom no-repeat;
}
.radarpro {
  position: relative;
  word-wrap: break-word;
  zoom: 1;
}
.radarpro-prev,
.radarpro-next {
  width: 30px;
  height: 33px;
  background: url('/admin/image/radar.png') no-repeat;
  position: absolute;
  right: -30px;
  cursor: pointer;
  visibility: hidden;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 2;
}
.radarpro-prev {
  top: 13px;
  background-position: -470px 0;
}
.radarpro-prev-hover {
  background-position: -440px 0;
}
.radarpro-next {
  top: 46px;
  background-position: -470px -33px;
  height: 31px;
}
.radarpro-next-hover {
  background-position: -440px -33px;
}
.radarpro-items-wrap {
  width: 250px;
  overflow: hidden;
}
.radarmini .radarpro-items-wrap {
  width: 210px;
}
.radarpro-item {
  width: 250px;
}
.radarmini .radarpro-item {
  width: 210px;
}
.radarpro-item-show {
  position: relative;
  width: 250px;
  background-position: -520px 0;
  background-repeat: repeat-y;
  zoom: 1;
}
.radarmini .radarpro-item-show {
  width: 200px;
}
.radarpro-item-top,
.radarpro-item-bottom {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 250px;
  background: url(/admin/image/radar.png);
  cursor: pointer;
}
.radarmini .radarpro-item-top,
.radarmini .radarpro-item-bottom {
  width: 210px;
}
.radarpro-item-top {
  top: 0;
  height: 10px;
  background-position: left top;
}
.radarpro-item-bottom {
  top: 50px;
  background-position: left bottom;
}
.radarpro-operation {
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 2;
}
.radarpro-ctrl-btn {
  opacity: .85;
  z-index: 2;
}
.radarpro-ctrl-btn-hover {
  opacity: 1;
}
.radarpro .fav,
.radarpro .reblog {
  width: 22px;
  height: 22px;
  background: url('/admin/image/radar.png') no-repeat;
  float: left;
  display: inline;
  margin-left: 10px;
  cursor: pointer;
  visibility: hidden;
  overflow: hidden;
  text-indent: -9999px;
}
.radarpro .reblog {
  background-position: -396px -22px;
}
.radarpro .fav {
  background-position: -374px -22px;
}
.radarpro .faved {
  background-position: -418px -22px;
}
.radarpro .follow {
  cursor: pointer;
}
.radarpro-item-info {
  position: relative;
  padding: 8px 0 8px 40px;
  zoom: 1;
}
.radarpro-item-avatar {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 10px;
}
.radarpro-item-avatar img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.radarpro-item-name,
.radarpro-item-from {
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  width: 170px;
}
.radarmini .radarpro-item-name,
.radarmini .radarpro-item-from {
  width: 120px;
}
.radarpro-item-name a,
.radarpro-item-name a:link,
.radarpro-item-name a:hover,
.radarpro-item-name a:visited {
  color: #444;
}
.radarpro-item-from {
  color: #8C8E90;
}
.radarpro-content-holder {
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
  color: #1e2937;
  background: #fff;
  cursor: pointer;
  zoom: 1;
}
.radarpro-type-text .radarpro-content-holder {
  padding: 15px 18px 18px;
  color: #444;
}
.radarpro-type-text .radarpro-content-holder h6 {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 10px;
}
.radarpro-type-text .radarpro-content-holder p {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 10px;
}
.radarpro-item .player-icon {
  background: url(/admin/image/wall-player.png) no-repeat scroll 0 0;
  _background-image: url(/admin/image/player-ie6.png);
  width: 50px;
  _width: 44px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -25px;
  _margin-left: -22px;
  z-index: 1;
}
.radar-img-holder,
.radar-img-holder img {
  display: block;
}
.dd-photo-reply {
  width: 18px;
  height: 14px;
  background: url(/admin/image/photo-reply.png) no-repeat;
  display: block;
  overflow: hidden;
}
.dd-photo-reply.on {
  background-position: 0 -14px;
}
.dd-photo-reply.selected {
  border: 1px solid #494949;
  width: 16px;
  height: 12px;
  background: none;
}
.dd-photo-reply img {
  width: 16px;
}
.blog-manage-mod {
  margin-bottom: 15px;
}
.blog-manage-mod li a {
  display: block;
  color: #567286;
}
.blog-manage-mod li.blog-manage-main a {
  height: 40px;
  line-height: 40px;
  background-color: #F0F4F4;
  border: solid #B1C5C7;
  border-width: 1px 1px 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.blog-manage-mod li.blog-manage-sub a {
  height: 28px;
  line-height: 28px;
  background: #DEE5E8;
  border: 1px solid #B1C5C7;
  border-top: 2px solid #C2C7CA;
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
.publisher {
  margin-bottom: 15px;
}
.web-guide,
.web-guide:link,
.web-guide:visited {
  position: fixed;
  right: 0;
  top: 40%;
  width: 31px;
  height: 72px;
  background: url("/admin/image/helpcenter-bg.png") no-repeat scroll left top;
  text-indent: -9999em;
  _display: none;
}
.web-guide:active,
.web-guide:hover {
  background-position: left bottom;
}
.dd-school {
  padding-top: 20px;
}
.dd-school-link {
  position: relative;
  border-top: 1px solid #ADB7C1;
  padding-top: 20px;
  overflow: hidden;
  padding-left: 30px;
  _zoom: 1;
}
.dd-school-link a {
  display: block;
}
.dd-school-link .dd-school-title,
.dd-school-link a.dd-school-title:visited {
  float: left;
  font-size: 12px;
  color: #fff;
  padding: 5px;
  background-color: #547186;
}
.dd-school-link .dd-school-content,
.dd-school-link a.dd-school-content:visited {
  float: left;
  font-size: 14px;
  color: #32536D;
  padding: 4px 0px 4px 8px;
  _width: 140px;
}
#guide-photograph {
  margin-bottom: 50px;
}
.gp-avatar {
  float: left;
  position: relative;
  width: 64px;
  height: 64px;
}
.gp-avatar a {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-indent: -9999px;
  outline: none;
  border: none;
  -moz-box-shadow: 0 1px 2px #B0B3B6;
  -webkit-box-shadow: 0 1px 2px #B0B3B6;
  box-shadow: 0 1px 2px #B0B3B6;
  background-color: #B0B3B6;
}
.gp-content {
  background: url(/admin/image/gp-bg.png) 0 0 no-repeat scroll;
  margin: -1px -2px -4px;
  width: 556px;
  height: 200px;
  float: right;
  position: relative;
  zoom: 1;
}
.gp-inner {
  width: 556px;
  height: 200px;
}
.gp-inner h3 {
  color: #50504f;
  text-align: center;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 25px;
}
.gp-inner p {
  color: #9d9c93;
  font-size: 12px;
  line-height: 28px;
  height: 28px;
  margin-left: 90px;
}
.gp-inner ul.gp-task-list {
  margin-left: 90px;
}
.gp-inner ul.gp-task-list li {
  height: 28px;
  line-height: 28px;
}
.gp-inner ul.gp-task-list li a {
  color: #325572;
  font-size: 13px;
  padding-right: 20px;
}
.gp-inner ul.gp-task-list li a:link,
.gp-inner ul.gp-task-list li a:visited,
.gp-inner ul.gp-task-list li a:active {
  color: #325572;
}
.gp-inner ul.gp-task-list li a:hover {
  color: #97a8ad;
}
.gp-inner ul.gp-task-list li a.complete {
  color: #97a8ad;
  background: url(/admin/image/gp-complete.png) center right no-repeat scroll;
}
