html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{
margin: 0;  padding: 0;
}

body {
  font-size: 12px;
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti, serif;
  cursor: default;
}
html.hasFontSmoothing-false body {
  font-family: Tahoma,Arial,Helvetica,STHeiti,serif;
}
a img,
:link img,
:visited img {
  border: 0;
}
table {
  border-collapse: collapse;
}
ul {
  list-style: none;
}

html {
  background: url(/admin/image/htmlbg.png) repeat;
}
div#header-holder {
  height: 72px;
  background: url(/admin/image/header.png) repeat-x 0 -20px;
}
div#header {
  /*overflow:hidden;*/

  width: 900px;
  margin: 0 auto;
  _overflow: hidden;
}
div#header a {
  outline: none;
}
div#content-holder {
  background: url(/admin/image/content-holder.png) repeat-x;
  padding-bottom: 20px;
  padding-top: 20px;
}
div#content {
  width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  position: relative;
}
div#main {
  width: 625px;
  float: left;
}
div#logo-holder {
  float: left;
  position: relative;
}
#logo a {
  display: block;
  height: 71px;
  width: 105px;
  text-indent: -9999px;
  margin-left: -5px;
  outline: none;
  background: url(/admin/image/logo-0317.png) no-repeat 0 center;
}
#logo a:active {
  position: relative;
  top: 1px;
  opacity: 0.8;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

.clearfix, #content {
zoom: 1;
}
.clearfix:after,
#content:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#startpage {
  overflow: hidden;
  padding-bottom: 20px;
}

#startpage #startpage-wrap {
  min-width: 900px;
}

#startpage #forget-password {
  margin-left: 239px;
  margin-top: 10px;
  float: left;
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
}
#startpage #forget-password:hover {
  color: #8D8D8D;
}

#startpage #footer {
  position: absolute;
  width: 100%;
  font-size: 12px;
  color: #9ea0a3;
  bottom: 0;
  text-align: center;
}
#startpage #footer a,
#startpage #footer a:link,
#startpage #footer a:visited {
  color: #9ea0a3;
  text-decoration: none;
}
#startpage #footer .footer-item {
  margin-left: 6px;
}
#startpage #footer a:hover {
  color: #8d8d8d;
}

#startpage .input-button {
  display: block;
  width: 96px;
  height: 45px;
  background: url(/admin/image/startpage-1231.png) no-repeat -400px -200px;
  border: 0;
  cursor: pointer;
  float: left;
  margin-top: 4px;
  font-size: 16px;
  color: #8C8C8D;
}
#startpage .input-button:hover {
  background-position: -400px -245px;
}
#startpage .input-button:active {
  background-position: -400px -290px;
}
#startpage .input-wrap {
  width: 218px;
  height: 52px;
  background: url(/admin/image/startpage-1231.png) no-repeat -280px -52px;
  position: relative;
  float: left;
  margin-right: 5px;
}
#startpage .input-wrap .input-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(/admin/image/startpage-1231.png) no-repeat;
  margin: 18px 0 0 15px;
  _margin-left: 8px;
}
#startpage #input-login-email label,
#startpage #input-login-pwd label {
  text-indent: -9999px;
}
#startpage #input-login-email .input-icon,
#startpage #input-reg-email .input-icon{
  background-position: 0 -197px;
}
#startpage #input-login-pwd .input-icon,
#startpage #input-reg-pwd .input-icon{
  background-position: 0 -300px;
}

#startpage .input-wrap {
  width: 218px;
  height: 52px;
  background: url(/admin/image/startpage-1231.png) no-repeat -280px -52px;
  position: relative;
  float: left;
  margin-right: 5px;
}
#startpage .input-wrap .blogurl-address {
  position: absolute;
  width: 170px;
  height: 52px;
  margin: 0 10px;
  line-height: 52px;
  color: #ABACAD;
  font-size: 16px;
  left: 32px;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
}

#startpage .input-wrap .input-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(/admin/image/startpage-1231.png) no-repeat;
  margin: 18px 0 0 15px;
}

#startpage .input-wrap label,
#startpage .input-wrap .blogurl-address {
position: absolute;
width: 170px;
height: 52px;
margin: 0 10px;
line-height: 52px;
color: #ABACAD;
font-size: 16px;
left: 32px;
top: 0;
overflow: hidden;
white-space: nowrap;
z-index: 10;
}

#startpage .input-wrap .tip {
  position: absolute;
  width: 197px;
  height: 36px;
  line-height: 36px;
  background: url(/admin/image/startpage-1231.png) no-repeat -300px -130px;
  top: 50px;
  left: 10px;
  text-align: center;
  color: #8F8958;
  font-size: 12px;
  z-index: 0;
}

#startpage #logo-startpage {
  height: 82px;
  margin: 40px auto 40px;
  text-indent: -9999px;
  position: relative;
  width: 500px;
  background: url(/admin/image/startpage.png) no-repeat left bottom;
}
#startpage #login-wrap {
  margin: 0 auto;
  width: 600px;
}

#startpage .startpage-input-text {
  width: 164px;
  padding: 10px;
  height: 32px;
  line-height: 32px;
  background: transparent url(/admin/image/blank.png) repeat;
  border: 0;
  outline: none;
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti, serif;
  position: absolute;
  font-size: 16px;
  color: #8F8F8F;
  z-index: 20;
}

#startpage #third-party-login,
#startpage #register-as-student {
  margin-top: 10px;
  width: 86px;
  float: right;
  cursor: pointer;
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  background: url(/admin/image/startpage-1231.png) no-repeat 0 -478px;
}
#startpage #third-party-login:hover,
#startpage #register-as-student:hover {
  color: #8D8D8D;
}
#startpage #third-party-login:hover,
#startpage #register-as-student:hover {
  background-position: 0 -448px;
}
#startpage #register-as-student {
  float: right;
}