.list .li{
    margin: 10px 0 10px 0;
}
.list .li .item-title {
    float: left;
    display: inline;
    width: 125px;
    line-height: 38px;
    text-align: right;
    color: #444;
}

.list .li .item {
    float: left;
    width: 230px;
    padding: 0 20px;
    position: relative;
    display: inline;
    overflow: hidden;
}

.list .li .item-des{
    float: left;
    width: 200px;
    height: 38px;
    line-height: 38px;
    display: inline;
    overflow: hidden;
}

.item-current-info{
    font-size: 14px;
    margin: 8px 0 8px 0;
}

.ui-text{
    width: 224px;
}