/* 日期选择控件 */
.tangram-calendar {
    height: 164px;
    width: 178px;
    font-size:12px;
    text-align: center;
    border: 5px solid #EEEEEE;
}
.tangram-calendar-title {
    position: relative;
    background-color: #EEEEEE;
}
.tangram-calendar-label{
    width: 100%;/*ie必要*/
    background-color: #EEEEEE;
}
.tangram-calendar-prev {
    position: absolute;
    text-align: center;
    cursor: pointer;
    left: 0px;
    top: 0px;
    width: 30px;
}
.tangram-calendar-next{
    position: absolute;
    text-align: center;
    cursor: pointer;
    right: 0px;
    top: 0px;
    width: 30px;
}
.tangram-calendar-table {
    width: 100%;
    height: 100%;
}
.tangram-calendar-week td{
    cursor: default;
    font-weight: bold;
    font-size:12px;
    background-color: #EEEEEE;
}
.tangram-calendar-date td{
    cursor:pointer;
    text-align: center;
    border: 1px solid #FAFAFA;
}
td.tangram-calendar-date-current{
    border: 1px solid #A00000;
}
.tangram-calendar-date-other{
    color: #ccc;
}
.tangram-calendar-disabled{
    background: #CCCCCC;
}
.tangram-calendar-date-disable{
    background: gray;
}
td.tangram-calendar-hover{
    border: 1px solid blue;
}


/* 清除浮动 */
.ks-clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
.ks-clearfix { *zoom: 1; }
.hidden {display:none;}

/*--日历--*/
.ks-cal-call {background:white;height:auto;font-size:12px;}
.ks-cal-call-multi-1 {width:190px !important;}
.ks-cal-call-multi-2 {width:380px !important;}
.ks-cal-call-multi-3 {width:570px!important;}

.ks-cal-call {
    -moz-box-shadow: 0 2px 3px #bdbdbd;
    -webkit-box-shadow: 0 2px 3px #bdbdbd;
    -khtml-box-shadow: 0 2px 3px #bdbdbd;
    -ms-box-shadow: 0 2px 3px #bdbdbd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 9px 0 0 1px;
}

.ks-cal-call .ks-cal-box {height:auto;width:auto;float:left;position:relative;}

.ks-cal-call .ks-cal-hd{
    background: #144465;
    height: 28px;
    line-height: 28px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}

.ks-cal-call .ks-cal-hd ,.ks-cal-call .ks-cal-hd a.ks-prev-year,.ks-cal-call .ks-cal-hd a.ks-prev,.ks-cal-call .ks-cal-hd a.ks-next-year,.ks-cal-call .ks-cal-hd a.ks-next,.ks-cal-call .ks-cal-hd a.ks-title:hover{
    background-position:0 -240px;
    width:198px;height:28px;position:relative;}

.ks-cal-call .ks-cal-hd a.ks-prev-year,.ks-cal-call .ks-cal-hd a.ks-prev,.ks-cal-call .ks-cal-hd a.ks-next-year,.ks-cal-call .ks-cal-hd a.ks-next{
    overflow:hidden;text-indent:-100em;font-size:0px;width:22px;height:20px;float:left;
    position:absolute;
    text-decoration:none;color:white;
    background: url(/admin/image/calender.png) no-repeat;
}
.ks-cal-call .ks-cal-hd a.ks-prev-year{
    background-position:0 -180px;
    left:3px;top:3px;
}
.ks-cal-call .ks-cal-hd a.ks-prev-year:hover{
    background-position:0 -200px;
}
.ks-cal-call .ks-cal-hd a.ks-prev-year:active{
    background-position:0 -220px;
}
.ks-cal-call .ks-cal-hd a.ks-prev{
    left:24px;top:3px;
}
.ks-cal-call .ks-cal-hd a.ks-prev:hover{
    background-position:0 -20px;
}
.ks-cal-call .ks-cal-hd a.ks-prev:active{
    background-position:0 0;
}
.ks-cal-call .ks-cal-hd a.ks-next-year{
    background-position:0 -120px;
    right:3px;top:3px;
}
.ks-cal-call .ks-cal-hd a.ks-next-year:hover{
    background-position:0 -140px;
}
.ks-cal-call .ks-cal-hd a.ks-next-year:active{
    background-position:0 -160px;
}
.ks-cal-call .ks-cal-hd a.ks-next{
    background-position:-20px 0;
    right:24px;top:3px;
}
.ks-cal-call .ks-cal-hd a.ks-next:hover{
    background-position:-20px -20px;
}
.ks-cal-call .ks-cal-hd a.ks-next:active{
    background-position:-20 0;
}


.ks-cal-call .ks-cal-hd a.ks-title,
.ks-cal-call .ks-cal-hd a.ks-title:link,
.ks-cal-call .ks-cal-hd a.ks-title:visited {color:white;text-decoration:none;position:relative;margin-left:auto;margin-right:auto;width:77px;height:16px;line-height:16px;display:block;top:5px;text-align:center;background-position:100px 100px;cursor:default;}


.ks-cal-call .ks-cal-bd {width:198px;}
.ks-cal-call .ks-cal-bd .ks-whd {width:auto;height:19px;overflow:hidden;padding:4px 0 2px 20px;border-bottom:1px solid #f3f5f7;color:#70889a;}
.ks-cal-call .ks-cal-bd .ks-whd span {float:left;width:23px;text-align:left;line-height:19px;margin-right:1px;display:inline;}

.ks-cal-call .ks-cal-bd .ks-dbd a{-webkit-border-radius: 2px;
    -moz-border-radius: 2px;margin-bottom: 1px;margin-right:1px;display:inline;}
.ks-cal-call .ks-cal-bd .ks-dbd {width:178px;height:auto;padding:10px 0 10px 18px;}
.ks-cal-call .ks-cal-bd .ks-dbd a,
.ks-cal-call .ks-cal-bd .ks-dbd a:link,
.ks-cal-call .ks-cal-bd .ks-dbd a:visited {
    color:#144465;float:left;width:20px;text-align:center;line-height:18px;text-decoration:none;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    display: inline;
    margin: 0 4px 4px 0;
}
.ks-cal-call .ks-cal-bd .ks-dbd a:hover {background-color:#144465;color:#fff;}

/*--hack for ff2 {{ --*/
.ks-cal-call .ks-cal-bd .ks-dbd a, x:-moz-any-link {width:20px;}
.ks-cal-call .ks-cal-bd .ks-dbd a:link, x:-moz-any-link {width:20px;}
.ks-cal-call .ks-cal-bd .ks-dbd a:visited, x:-moz-any-link {width:20px;}
.ks-cal-call .ks-cal-bd .ks-dbd a,
.ks-cal-call .ks-cal-bd .ks-dbd a:link,
.ks-cal-call .ks-cal-bd .ks-dbd a:visited, x:-moz-any-link, x:default {width:20px;}
/*--hack for ff2 }} --*/

/*--日期的状态--*/
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-null:visited {background:white;color:white;cursor:default;border-color:#fff}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-today:visited {background: #b8c7d0;color:#144465;}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-selected:visited {color:#fff;background-color:#144465;border-color:#144465;}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-disabled:visited{color:#b8c7d0;cursor:default;background-color:#fff;border-color:#fff}
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range:link,
.ks-cal-call .ks-cal-bd .ks-dbd a.ks-range:visited {color:#fff;background-color:#144465;border-color:#144465;}

.ks-cal-call .ks-cal-ft {text-align:center;width:181px;}

/*--时间控件--*/
.ks-cal-call .ks-cal-ft .ks-cal-time {background-color:#e5e5e5;display:inline-block;*display:inline;*zoom:1;padding:3px 5px;*padding:2px 5px;_padding:3px 5px;width:95px;position:relative;padding-right:18px;*top:-2px;_top:-1px;}
.ks-cal-time .cta {width:13px;height:20px;position:absolute;right:0;top:0;line-height:0;}
/*hack for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
    head~body .ks-cal-call .ks-cal-ft .ks-cal-time {padding:2px 5px 2px 0px;display:block;float:left;width:110px;margin-left:13px;}
    head~body .ks-cal-call .ks-cal-ft .ct-ok {margin-left:0px;}
    head~body .ks-cal-time .cta{}
}
.ks-cal-time button {width:13px;height:10px;border:0;overflow:hidden;/*text-indent:-100em;*/background:url("http://img05.taobaocdn.com/tps/i5/T1McxAXXRHXXXXXXXX-29-10.gif") no-repeat;cursor:pointer;}
.ks-cal-time button.u {background-position:0 0;}
.ks-cal-time button.d {background-position:-16px 0;}
.ks-cal-time span {cursor:pointer;}
.ks-cal-time span.on {padding:0 1px;background-color:#333;color:white}

/*-- 时间不限--*/
.ks-cal-notLimited{display:block;border:1px solid #88b1ea;background-color:#f3f9ff;text-align:center;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;cursor:pointer;color:#5e97d0;width:180px;margin-top:4px;}

.ks-cal-notLimited:hover{text-decoration:none;}

.ks-cal-notLimited-selected{background-color:#144465;color:#fff;border-color:#3375cf}
.ks-cal-notLimited-showTime{margin-bottom:4px;}



/*--时间列表--*/
.ks-cal-timelist {position:absolute;height:auto;width:auto;_width:205px;border:1px solid #9bc0e0;background-color:#f2f2f2;z-index:100;}
.ks-cal-timelist ul {width:50px;border-left:1px solid #9bc0e0;float:left;list-style:none;padding:0px;margin:5px 0px;}
.ks-cal-timelist ul.first {border:0px !important;}
.ks-cal-timelist ul li {text-align:center;float:left;width:100%;}

.ks-cal-timelist ul li a,
.ks-cal-timelist ul li a:link,
.ks-cal-timelist ul li a:visited {line-height:18px;text-decoration:none;color:black;}
.ks-cal-timelist ul li a:hover {background-color:#cce7f2;color:#144465;}

/*--选择月份容器--*/
.ks-setime {position:absolute;left:4px;top:28px;width:180px;background:#f2f2f2;border:1px solid #9bc0e0;text-align:center;vertical-align:middle;height:auto;padding-top:10px;padding-bottom:10px;}
.ks-setime p {height:30px;margin:0;padding:0;}
.ks-setime select,.ks-setime input {width:80px;}

/*--选择时间的容器--*/
.ks-selectime {position:absolute;left:4px;bottom:32px;right:0px;width:180px;background:#f2f2f2;border:1px solid #9bc0e0;text-align:center;vertical-align:middle;height:auto;padding-top:10px;padding-bottom:10px;}
.ks-selectime a,
.ks-selectime a:link,
.ks-selectime a:visited {margin-left:10px;display:inline-block;*display:inline;float:left;text-decoration:none;color:#144465;}
.ks-selectime a:hover {text-decoration:underline;}
.ks-selectime a.x {position:absolute;right:3px;bottom:2px;font-weight:bold;font-family:"comic Sans MS"}
.ks-selectime select,.ks-selectime input {width:80px;}

/*--日历选择组件--*/
.ks-select-calendar{width:126px;height:20px;*width:122px;*height:18px;_width:124px;border:1px solid #ccc;background:url(http://img03.taobaocdn.com/tps/i3/T1cJ4PXfXGXXXXXXXX-16-13.gif) no-repeat 106px 4px;}
.lot-calendar{position:absolute;top:0px;left:222px;z-index:100;}



#pb-text-textarea_editor .edui-editor{
    z-index:2;
}

div#wrap{
    padding-bottom:30px;
}
.pb-input-text{
    font-size:24px;
    color:#333;
    line-height:30px;
    padding:7px;
    width:588px;
    outline:none;
    border:1px solid #dddddd;
    border-top:1px solid #ebebeb;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
}
#pb-audio-search-div.notab{
    padding-top: 30px;
}
#pb-video-upload-holder.notab{
    padding-top: 30px;
}
#pb-audio-search-div .ui-text-virtual,
#pb-video-search-holder .ui-text-virtual{
    font-size: 16px;
    color:#C7C7C7;
    font-weight: normal;
}
#pb-video-search-holder.notab{
    padding-top: 30px;
}
.pb-input-tip{
    height:25px;
    line-height:25px;
    padding-left:20px;
    margin-top:-25px;
    padding-right:10px;
    float:right;
}

.pb-input-tip.processing{
    background:url(/admin/image/small-round-loading.gif) no-repeat left center;
}
input.pb-input-text{
    height:30px;
    box-shadow:0 1px 1px #d3d1d1;
}
textarea.pb-input-text{
    height:126px;
    line-height:18px;
    font-size:14px;
    box-shadow:0 -137px 3px #fff inset, 0 0 3px rgba(0,0,0,0.5) inset;
}
.pb-input-error{
    border-color:#f4d9d9;
}
div#content{
    padding:0;
    position:static;
    *position: relative;
}
div#content .pb-main-top,
div#content .pb-main-bottom{
    height: 16px;
    line-height: 0;
    font-size: 0;
    clear: both;
}
div#content .pb-main-top .l,
div#content .pb-main-bottom .l{
    width:660px;
    border:1px solid #c9cbcc;
    float: left;
    display: inline;
    background: #F6F6F6;
    height: 15px;
    overflow: hidden;
}
div#content .pb-main-top .l{
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}
div#content .pb-main-bottom .l{
    border-top:none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom: 1px solid #adb1b4;
    box-shadow: 0 2px 2px #bec1c5;
}
div#content .pb-main-top .r,
div#content .pb-main-bottom .r{
    width:237px;
    float:right;
    display: inline;
    background: url(/admin/image/sidemenu-item.png) repeat;
    border:1px solid #D1D3D5;
    border-left:none;
    height: 5px;
    overflow: hidden;
}
div#content .pb-main-top .r{
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    margin-top: 10px;
    border-bottom: none;
}
div#content .pb-main-bottom .r{
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    margin-bottom: 10px;
    border-top: none;
}
div#content .pb-wrapper{
    background: url(/admin/image/pb-main-bg.png) repeat-y;
    border-right: 1px solid #D1D3D5;
    border-left:1px solid #c9cbcc;
}
#pb-main{
    width:660px;
    padding:4px 0 22px;
    float:left;
    border-right:1px solid #c9cbcc;
    border-top:none;
    border-bottom: none;
}
.contribute-submit #pb-main{
    border-right: none;
}
#pb-aside{
    width:237px;
    padding:0;
    float:right;
}
#pb-aside .pb-aside-i{
    padding:12px 2px;
}
#pb-aside .pb-mod{
    padding: 0 16px;
}
#pb-aside .no-padding-right{
    padding-right: 0;
}
#pb-aside h4{
    color: #B1B3B5;
    padding:5px 0 0 17px;
    font-weight: normal;
}
#pb-aside .separator{
    border-bottom:1px solid #C6C8CB;
    border-width:1px 0;
    margin:15px 0;
	*margin:7px 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
#pb-aside .noborder{
    border:none;
    margin:7px 0\9;
}
.aside-item label{
    font-size:14px;
}
.aside-item select{
    border:1px solid #bbb;
    padding:5px;
    font-size:14px;
}
#post-tag{
    background:#fff;
    border:1px solid #cfd3d5;
    padding:5px;
    min-height:90px;
    _height:90px;
    width:188px;
    overflow:hidden;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 1px #d0d3d6;
}
.guide #post-tag{
    border:1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
#post-tag-list{
}
#post-tag-list li, #recommand-tag-list li{
    float:left;
    /* height:22px; */
    line-height:23px;
    padding:0 9px;
    background:url(/admin/image/pb-tag-bg.png) repeat-x 0 0;
    margin:0 5px 5px 0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#eeeeee;
	white-space:nowrap;
    box-shadow: 0 1px 1px #b7b9bc;
}
#post-tag-list li:hover, #recommand-tag-list li:hover{
    background-position: 0 -27px;
}
#tags-more{
	color:#a5a7a8;
	line-height:21px;
	cursor:pointer;
	*padding-top:5px;
	zoom:1;
}
#post-tag-list li .delete-tag-btn{
    color:#eee;
    padding-left:5px;
}
#post-tag-list li .delete-tag-btn:hover{
    color:#fff;
}
#recommand-tag-holder{
    padding:10px 0 0;
    *padding-bottom: 10px;
}
#recommand-tag-holder h4{
    padding-bottom:5px;
    font-size:12px;
    color:#4e4e4e;
}
#recommand-tag-list li{
    cursor:pointer;
    max-width: 180px;
    overflow: hidden;
}
#post-tag-input{
    padding:0;
    margin:0;
    border:0;
    width:188px;
    outline:none;
}
.pb-tag-tip{
    color:#999;
}

#post-privacy-select{
    width:198px;
}
.post-by-timer{
    margin: 6px 0 16px;
}
.post-by-timer .item{
    float: left;
    display: inline;
    height: 20px;
    padding: 5px;
    border: 1px solid #CCCED1;
    background: #fff;
    margin-top: 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 1px #D3D6D9;
    width: 21px;
}
.post-by-timer .item input{
    border:0 none;
    margin: 0;
    padding: 0;
    height: 20px;
    line-height: 20px;
    color: #9a9a9a;
    outline: none;
    width: 21px;
    text-align: center;
    font-size:12px;
}
.post-by-timer .split{
    width: 12px;
    text-align: center;
    float: left;
    display: inline;
    line-height: 32px;
    color:#9c9ea0;
}
.post-by-timer .date{
    width: 98px;
    position: relative;
    margin-right: 12px;
}
.post-by-timer .date input{
    width:75px;
    text-align: left;
    padding-left: 7px\9;
}
.post-by-timer .date .arrow{
    position: absolute;
    right:5px;
    top:5px;
    width: 20px;
    height: 20px;
    background: url(/admin/image/post-by-timer.png) no-repeat 0 0;
}
.post-by-timer .date .arrow:hover,
.post-by-timer .date .arrow.on{
    background-position: 0 -20px;
}
#permalink-holder .permallink{
    margin: 0 0 15px;
    border-bottom: 1px solid #abacae;
    color: #afb1b3;
    height: 20px;
    line-height: 20px;
}
#permalink-holder .permalink-check{
    margin-bottom: 6px;
}
#permalink-holder .permalink-check label{
    display: inline;
}
#permalink-holder .permallink input{
    border:0 none;
    height:20px;
    line-height: 20px;
    color: #afb1b3;
    width:180px;
    background: none;
    outline: none;
}
#permalink-holder .permallink-hover{
    color: #444;
}
#permalink-holder .permallink-hover input{
    color: #444;
}
#pb-no-sync{
    color:#4E4E4E;
    text-decoration: underline;
}
#pb-sync-reject{
    color: #AFB1B3;
    margin-left: 10px;
}
h2#pb-main-title{
    color:#124062;
    height: 18px;
    font-size: 18px;
    padding:0 28px 20px;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
}
h2#pb-main-title .pb-share-tip{
    position: absolute;
    right: 33px;
    top:-19px;
    color: #8F8856;
    font-size: 12px;
    height: 36px;
    line-height: 34px;
    width: 223px;
    padding-left: 20px;
    background: url(/admin/image/publisher-share-tip.png) no-repeat 0 0;
    font-weight: normal;
}
h2#pb-main-title .pb-share-tip a,
h2#pb-main-title .pb-share-tip a:hover{
    color: #444;
    text-decoration: underline;
}
h2#pb-main-title #pb-share-tip-close{
    position: absolute;
    top:6px;
    right: 6px;
    width: 7px;
    height: 7px;
    background: url(/admin/image/publisher-share-tip.png) no-repeat 0 -42px;
    text-indent: -9999px;
    overflow: hidden;
}
h2#pb-main-title #pb-share-tip-close:hover{
    background-position: 0 -54px;
}
h2#pb-main-title a:hover{
    color: #124062;
}

#pb-post-area{
    padding:0 28px;
}
.pb-contribute #pb-post-area{
    padding: 0;
}
#new-photo #pb-post-area{
    padding-top: 25px;
}
#pb-post-area h3.pb-section-title{
    color:#5c5c5c;
    font-size:16px;
    font-weight:normal;
    margin:25px 0 10px;
}
#pb-post-area h3.pb-section-title span{
    color:#8b8b8b;
    font-size:12px;
    margin-left:5px;
}
.pb-post-media-preview{
    margin:25px 0 10px;
    padding:15px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#e4e4e4;
}
#pb-video-preview-holder{
    margin-top: 0;
}
#pb-video-thumb{float:left;width:150px;}
#pb-video-reblog-preview{text-align:center;padding-top: 25px;}
.pb-post-media-preview-close{
    float:right;
    width:16px;
    height:16px;
    text-indent:-9999px;
    outline:none;
    background:url("/admin/image/publisher_photo.png") no-repeat scroll -26px 0 transparent;
}
.pb-post-media-preview-close:hover{
    background-position:0 0;
}
.pb-post-media-preview-photo{
    width: 150px;
    height: 120px;
    background:#fff url("/admin/image/publisher-video.png") no-repeat center 15px;
}
.pb-post-media-preview-photo .title{
    padding:105px 10px 0;
    text-align: center;
    width: 130px;
    height: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #9B9B9B;
}
.pb-post-media-preview-photo.has-title{
    height: 140px;
}
#pb-action-holder{
    padding: 0 28px;
}
#pb-post-area{
    margin-bottom: 30px;
}
#pb-link-desc-holder{
    *padding-bottom: 30px;
}
.pb-contribute #pb-action-holder{
    padding: 0;
    padding-top: 20px;
}
#pb-action-holder .pure-button{
    margin-left:10px;
}
#pb-action-holder .pb-cancel{
    float:left;
    margin:0;
    height:32px;
    line-height:32px;
}
.pb-submit{
    float:right;
    margin-left:15px;
}
.pb-preview, .pb-draft{
    float:right;
    margin-left:15px;
}

#pb-submiting-tip{
    height:38px;
    line-height:38px;
    padding-left:20px;
    background:url(/admin/image/small-round-loading.gif) no-repeat left center;
    color:#4e4e4e;
    float:right;
}
#pb-text-upload-pic{
    float:right;
    display:block;
    margin-top:-23px;
}
#pb-text-pic-uploading{
    background:url(/admin/image/small-round-loading.gif) no-repeat left center;
    color:#999;
    padding-left:20px;
}
.pb-music-search-result ul{
}
div#PopElementContainer .dd-suggestion{
    border: 1px solid #E3E3E3;
    border-top:none;
    border-bottom: 1px solid #C8C8C8;
    margin-left: 10px;
    box-shadow: 0 1px 1px #E0E0E0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    padding:0 0 4px;
    background: #f5f5f5;
}
div#PopElementContainer .dd-suggestion ul{
    background: #fff;
}
div#PopElementContainer .pb-music-search-result li span{
    line-height:28px !important;
    font-size:14px !important;
}
div#PopElementContainer .pb-music-search-result li{ 
    height:30px !important;
    line-height:30px !important;
    font-size:14px !important;
    padding:0 16px;
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
}
div#PopElementContainer .pb-music-search-result li .pb-music-song{
    color:#727272;
    padding-right:10px;
}
div#PopElementContainer .pb-music-search-result li .pb-music-artist{
    color:#ABABAB;
    padding-left:10px;
}
div#PopElementContainer .pb-music-search-result li .separator{
    color:#ABABAB;
}
div#PopElementContainer .pb-music-search-result li.selected{
    background:#f5f5f5;
}
.pb-music-result-footer{
    height:38px;
    line-height:38px;
    color:#ABABAB;
    padding: 0 16px;
}
div#PopElementContainer .pb-music-result-footer{
    line-height:38px;
}
div#PopElementContainer .pb-music-result-footer .pb-music-result-pages{
    float: right;
    padding:5px 0 0 10px;
}
.pb-music-result-pager{
    float:right;
    padding-right:5px;
}
.pb-music-result-count{
    float:left;
}
.pb-music-result-pager .pipe{
    padding:5px;
    color:#4e4e4e;
}
#pb-audio-thumb{
    float:left;
    margin-right:15px;
}
#pb-audio-player{
    float:left;
}
#pb-photo-pick-holder,
#pb-photo-layout-holder{
    height:38px;
    line-height:20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:#999;
}
#pb-photo-pick-holder #canDragUpload span,
#audio-upload-panel #canDragUpload span{
    text-decoration: underline;
    cursor: pointer;
}
#pb-photo-pick-holder,
#audio-upload-panel{
    position: relative;
}
#pb-photo-pick-holder .drag-mask,
#audio-upload-panel .drag-mask{
    position: absolute;
    top:-5px;
    left:-2px;
    height: 46px;
    width: 520px;
    border: 1px solid #c0c0c0;
    background: #e1e1e1 url(/admin/image/publisher-photo-drag.png) no-repeat 3px center;
    box-shadow:inset 0 0 4px #c0c0c0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    color: #444;
    font-size: 14px;
    line-height: 46px;
    display: none;
    padding-left:84px;
}
.pb-contribute #pb-photo-pick-holder .drag-mask,
.pb-contribute #audio-upload-panel .drag-mask{
    width: 716px;
}
#audio-upload-panel .drag-mask{
    background-image: url(/admin/image/publisher-audio-drag.png);
    z-index: 1;
    top:5px;
}
#pb-photo-pick-holder.pb-pick-on-drag .drag-mask,
#audio-upload-panel.pb-pick-on-drag .drag-mask{
    display: block;
}
.pb-contribute #pb-photo-pick-holder{
    margin-top:20px;
}
#pb-photo-flash-holder{
    float:left;
    padding-right:10px;
}
#pb-photo-pick-tip{
    float:left;
}
#pb-photo-upload-file-status{
    float:left;
}
#pb-photo-file-tip{
    float:right;
}
#pb-photo-upload-total-status{
    float:right;
}
#pb-photo-list li, #pb-photo-error-list li{
    background:#e4e4e4;
    padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    list-style:none;
    margin:10px 0;
    color:#555;
    line-height:16px;
    position:relative;
    z-index:0;
    box-shadow: inset 0 0 1px rgba(226,226,226,0.5);
}
#pb-photo-list li.upload-error, #pb-photo-error-list li{
    background-color:#f4d9d9;
}
.pb-photo-li-move, .pb-photo-li-rm{
    float:left;
    display:block;
    width:12px;
    height:16px;
    text-indent:-9999px;
    background:#999;
    margin:0 10px 0 0;
    background:url(/admin/image/publisher_photo.png) no-repeat -50px 0;
}
.pb-photo-li-move{
    cursor:move;
}
.upload-error .pb-photo-li-move{
    visibility:hidden;
}
.pb-photo-li-name{
    float:left;
}
.pb-photo-li-rm{
    float:right;
    margin:0 0 0 10px;
    width:16px;
    background:url(/admin/image/publisher_photo.png) no-repeat -26px 0;
}
.pb-photo-li-rm:hover{
    background-position:0 0;
}
.pb-photo-li-thumb{
    float:left;
    width:100px;
    height:100px;
    overflow:hidden;
    margin:0 10px 0 0;
    text-align:center;
    position: relative;
}
.pb-photo-li-thumb img{
    display:inline-block;
}
.pb-photo-li-thumb a.rotate{
    position: absolute;
    right:0;
    bottom: 0;
    width: 22px;
    height: 22px;
    background: url(/admin/image/publisher_photo.png) no-repeat -84px 0;
    display: none;
}
.pb-photo-li-thumb:hover a.rotate{
    display: block;
}
.pb-photo-li-thumb a.rotate:hover{
    background-position: -116px 0;
}
.pb-photo-desc{
    height:90px;
    line-height:18px;
    padding:4px;
    border:1px solid #d0d0d0;
    border-top:1px solid #dbdbdb;
    border-bottom: 1px solid #a9a9a9;
    margin:0;
    width:402px;
    box-shadow: 1px 1px 1px #d3d3d3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    resize: none;
}
.pb-photo-li-progress{
    display:block;
    height:14px;
    margin:1px 20px 0 0;
    width:250px;
    border:1px solid #8b8b8b;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    float:right;
    background-image:url(/admin/image/progress.png);
    background-repeat:no-repeat;
    background-position:-400px center;
}
.pb-photo-li-tip{
    float:right;
}
#pb-link-add-desc-holder, #pb-photos-add-title-holder{
    margin:30px 0;
}
#pb-link-add-desc, #pb-photos-add-title{
    color:#929292;
    text-decoration:underline;
    font-size:14px;
}
#pb-text-textarea{
    height:300px;
}
.pb-photo-desc.pb-input-error{
    border:1px solid #e00;
}
#pb-photos-reblog-preview{text-align:center;position:relative;zoom:1;}
#pb-photos-reblog-preview img{padding:2px;border:1px solid #ccc;max-width:500px;}
.photo-preview-num{
    position:absolute;
    top:50%;
    height:56px;
    line-height:56px;
    font-size:32px;
    margin-top:-28px;
    text-align:center;
    width:160px;
    left:50%;
    margin-left:-70px;
    background:url(/img/bg/black-trans.png) repeat;
    _background:#000;
    color:#fff;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
.pb-side-notice{
    background-color:#D3E3EF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border-color:#F5F7F8 #A4C3D9 #A4C3D9 #F5F7F8;
    border-style:solid;
    border-width:1px;
    color:#485B69;
    font-size:14px;
    padding:12px 5px;
    text-align:center;
    margin:0 0 20px;
}
#post-text-notice a{
    text-indent:-9999px;
    outline:none;
    background:url(/admin/image/publisher-notice.png) no-repeat;
    display:block;
    margin-left:15px;
    width:148px;
    height:40px;
}
.pb-side-opt{
    color:#4e4e4e;
}
.pb-side-opt label{
    font-size: 12px;
    display: block;
    margin-top: 5px;
}
#top-post-holder{
    margin-top: 5px;
}
.pb-side-sync-opt{
    float:left;
    display: inline;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}
.pb-side-sync-opt a{
    float: left;
    display: inline;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/admin/image/publisher-sync-new.png) no-repeat;
}
.pb-side-sync-opt a.pb-sync-to-weibo{
    background-position: -10px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-weibo:hover,*/
.pb-side-sync-opt a.pb-sync-to-weibo.on{
    background-position: -10px -10px;
}
.pb-side-sync-opt a.pb-sync-to-qzone{
    background-position: -37px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-qzone:hover,*/
.pb-side-sync-opt a.pb-sync-to-qzone.on{
    background-position: -37px -10px;
}
.pb-side-sync-opt a.pb-sync-to-qqweibo{
    background-position: -93px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-qqweibo:hover,*/
.pb-side-sync-opt a.pb-sync-to-qqweibo.on{
    background-position: -93px -10px;
}
.pb-side-sync-opt a.pb-sync-to-douban{
    background-position: -122px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-douban:hover,*/
.pb-side-sync-opt a.pb-sync-to-douban.on{
    background-position: -122px -10px;
}
.pb-side-sync-opt a.pb-sync-to-renren{
    background-position: -66px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-renren:hover,*/
.pb-side-sync-opt a.pb-sync-to-renren.on{
    background-position: -66px -10px;
}
.pb-side-sync-opt a.pb-sync-to-twitter{
    background-position: -169px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-twitter:hover,*/
.pb-side-sync-opt a.pb-sync-to-twitter.on{
    background-position: -169px -10px;
}
.pb-side-sync-opt a.pb-sync-to-facebook{
    background-position: -146px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-facebook:hover,*/
.pb-side-sync-opt a.pb-sync-to-facebook.on{
    background-position: -146px -10px;
}
.pb-side-sync-opt a.pb-sync-to-flickr{
    background-position: -196px -40px;
}
/*.pb-side-sync-opt a.pb-sync-to-flickr:hover,*/
.pb-side-sync-opt a.pb-sync-to-flickr.on{
    background-position: -196px -10px;
}
.pb-side-opt label input{
    padding:0;
    margin-right:5px;
    vertical-align:middle;
}
/**
 * 同步微薄 图标
 */
.submit-main{
    overflow:hidden;
    border:1px solid #C9CBCC;
    border-bottom: 1px solid #E1E1E1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    background: #f6f6f6;
    padding:20px 28px;
}
#top-post-tip{color:#b1b3b5;padding:5px 0 0 17px;}
.submit-rule{font-size:14px;line-height:18px;margin-top: 15px;color: #444;}
#submit-user-title{font-size:50px;padding:30px 0;width:900px;overflow:hidden;}
#submit-user-title a{color:#333;}
#submit-type{border:1px solid #BBB;padding:5px;font-size:14px;width:150px;}
#submit-main-title{
    font-size:18px;
    color:#0f3d5e;
}
#pb-submit-tag h5{font-size:14px;font-weight:normal;padding:0 0 5px;}
#pb-submit-tag label{padding-right:10px;}
#submit-success-holder{font-size:14px;text-align:center;padding:50px 20px;}


.pb-photo-upload-tip{ float:left;color:#8b8b8b;line-height: 40px;}

.dd-publisher{float:left; overflow: hidden;}
#post-to-holder{
    float:left;
}
.ui-combobox{
    border:1px solid #ccced1;
    background:#fff;
    font-weight: normal;
    margin-top:2px;
    *margin-top:0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 1px #d3d6d9;
}
.ui-combobox-active, .ui-combobox-hover,
.ui-combobox-layer{
    border:1px solid #c8c8c8;
    box-shadow: 1px 1px 1px #d1d3d6;
}
.ui-combobox-text, .ui-combobox-item{height: 30px;cursor:pointer;}
.ui-combobox .ui-combobox-arrow{position:absolute;top:17px;right:8px;border-top:4px solid #8c8c8c;border-left:4px dashed transparent;border-right:4px dashed transparent;border-bottom:none;width:0;height:0;overflow:hidden}
.ui-combobox .avatar, .ui-combobox-layer .avatar{
    width:30px;height: 30px; margin-right:10px; float: left; display: inline;
}
.ui-combobox .avatar{
    box-shadow: 0 1px 2px #c4c4c5;
}
.ui-combobox .blog-name, .ui-combobox-layer .blog-name{float:left; display: inline;overflow:hidden;}
.ui-combobox-layer{
    z-index:100;background: #fff;border-top:none;overflow: hidden;zoom:1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    width:178px;
    margin-left: 10px;
    margin-top: 1px;
}
.ui-combobox, .ui-combobox-layer .ui-combobox-item{
    height:30px;padding:4px; line-height: 30px; font-size:14px; color:#444; position: relative;
}
.ui-combobox-layer .ui-combobox-item{
    border-top:1px solid #e8e8e8;
}
.skin-combobox-privacy .skin-combobox-privacy-text{
    padding-left:8px;
}
.skin-combobox-layer-privacy .ui-combobox-item{
    padding:2px 2px 2px 8px;
}
.ui-combobox-layer .ui-combobox-item-hover{background: #f5f5f5;}
#post-to-aside-holder label{
    padding-bottom: 10px;
    display: block;
    color:#4e4e4e;
}
/*.ui-combobox-layer .ui-combobox-item-selected{display: block;}*/
h2#pb-main-title span{float:left;}
h2#pb-main-title .pb-main-title-to{color:#a3b2be;padding:0 10px;line-height:40px;}


.audio-tab{padding-top:25px;}
.audio-tab-outer{position: relative;}
.audio-tab-outer .audio-tab-new{position: absolute;top:16px;left:84px;background: url(/admin/image/new-useraudio.png) no-repeat 0 0; width:24px;height:17px; }
.audio-tab li{
	float: left;display: inline;
	background: url(/admin/image/new-useraudio.png) no-repeat 0 -18px;
	height: 34px;
	line-height:34px;
}
.audio-tab .first{
    background: none;
    padding-left:0;
}
.audio-tab .first a{
    padding-left: 0;
}
.audio-tab li a, .audio-tab li a:visited{
	color:#8F8F8F;
	display:block;
	font-size:16px;
	padding: 0 14px;
    position: relative;
}
.audio-tab .on a{
    color:#4F4F4F;
}
.audio-tab .on a .arrow{
    position:absolute;
    top:-2px;right:25px;
    *top:-10px;
    border-top:4px solid #8c8c8c;
    border-left:4px dashed transparent;
    border-right:4px dashed transparent;
    border-bottom:none;
    width:0;height:0;overflow:hidden;
}
.video-tab .first a .arrow{
    right:41px;
}
.video-tab-outer{
    margin-bottom: 10px;
}
.audio-con, .video-con{
	padding: 10px 0 10px;
	color:#999;
    position:relative;
    width: 606px;
    overflow: hidden;
}
#audio-upload-panel,
#pb-audio-search-div{
    overflow: visible;
}
.audio-con.notab{
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
}
#audio-upload-panel.notab{
    margin-top: 30px;
}
.audio-con .tip, .video-con .tip{padding-bottom: 10px;font-size:14px;}
#pb-audio-search-input, #pb-video-search-input{width:586px;border:1px solid #d9dde1;}
#audio-upload-process,
#video-upload-process{float:none;margin-bottom:10px;}

.audio-con .audio-upload-button,
.video-con .video-upload-button{float: left;display: inline;height:38px;width:110px;position: relative;overflow:hidden;}
.audio-con .audio-upload-disable,
.video-con .video-upload-disable{height:38px;width:120px;background:url(/admin/image/music-upload-btn.png) no-repeat 0 -114px; }
.video-con .video-upload-disable{
    background-image: url(/admin/image/video-upload-btn.png);
}
#audio-upload-enable, #audio-upload-disable{position: absolute;top:0;left:0;}
.audio-con .audio-upload-tip,
.video-con .video-upload-tip{float:left;display: inline;line-height:34px;font-size:12px;color:#999;padding-left:10px;}
.audio-con .audio-error,
.video-con .video-error{line-height: 36px;}
.audio-con .proxy-con,
.video-con .proxy-con{margin-top:20px;}
.audio-con .ckbox,
.video-con .ckbox{margin-right:5px;}
.audio-con .proxy,
.video-con .proxy{}
.audio-con .proxy-link,
.video-con .proxy-link{color:#3399cc; text-decoration: underline;}

.audio-con .audio-name{font-size:14px;height:17px;line-height:17px;padding-bottom:10px;border-bottom: 1px solid #d9dde1;}
.audio-con .audio-info{position:relative;padding-top:20px;border-top:1px solid #fff;}
.audio-con .audio-info .photo{overflow:hidden;width:118px; height:118px;border: 1px solid #d9dde1;position: relative;float:left;text-align: center;}
.audio-con .audio-info .photo img{}
.audio-con .audio-info .photo .photo-upload{color:#999;text-align: center;position: absolute; width:100%;height:100%;top:6px;left:0;margin-top:-6px;background: url(/admin/image/mplayer-album-cover.png) no-repeat 0 0;opacity:0.8;filter: alpha(opacity=80);text-indent: -9999px;}
.audio-con .audio-info .photo .photo-uploading{background: #000; padding-top:52px;text-indent: 0;color:#fff;opacity:0.6;filter: alpha(opacity=60);}
.audio-con .audio-info .id3{float: left;display: inline; padding-left: 10px;}
.audio-con .audio-info .id3 input{width:455px;padding-left:8px;height: 18px;line-height:18px;color:#333;font-size:14px;}
.audio-con .audio-info .id3 .item{position: relative;margin-bottom: 9px;}
.audio-con .audio-info .id3 .item.last{margin-bottom: 0;}
.audio-con .audio-info .id3 .item label{position: absolute;height:32px;line-height: 32px;background:#fff;top:1px;*top:2px;right:4px;color:#ccc;padding-right:8px;}
.pb-post-section{zoom:1;}
#audio-upload-close{position:absolute;top:20px;right:5px;overflow:hidden;}
.audio-con .useraudio-img{float:left;display: inline;margin-right: 15px;width:150px;height:150px;overflow: hidden;}
.audio-con .useraudio-player{float:left;display: inline;}
#audio-upload-info{
    padding-top: 20px;
}
/*投稿*/
.pb-contribute{
    padding-top: 20px;
    width: 840px;
    overflow: hidden;
}
.submit-type-list{
	overflow: hidden;
	_zoom:1;
    padding-left: 28px;
}
.submit-type-list li.first{
    background: none;
}
.submit-type-list li.first a{
    padding-left: 0;
}
.submit-type-list li{
	float: left;
    position: relative;
    background: url(/admin/image/new-useraudio.png) no-repeat 0 -18px;
}
.submit-type-list li a{
    color:#8F8F8F;
}
.submit-type-list .submit-type-item{
	display: block;
	font-size: 16px;
	padding:0 14px;
	height: 34px;
	line-height:34px;
	text-align:center;
	color: #999;
	font-weight: normal;
}
.submit-type-list li.selected a{
    color:#4F4F4F;
}
.submit-type-list li.selected .arrow{
    position:absolute;
    top:0;right:26px;
    border-top:4px solid #8c8c8c;
    border-left:4px dashed transparent;
    border-right:4px dashed transparent;
    border-bottom:none;
    width:0;height:0;overflow:hidden;
}
.pb-contribute #pb-holders{
	padding:0 28px;
}
.pb-contribute .pb-input-text{
	width: 768px;
}
.pb-contribute .audio-con{
    width: 802px;
}
.pb-contribute #submit-type{font-size:14px;}
.pb-contribute #pb-submit-tag{margin:30px 0 0;font-size:14px;}
.pb-contribute #pb-post-area{width:840px;}
.pb-contribute #pb-photo-pick-holder{padding-left: 0px}
.pb-contribute #pb-audio-search-holder{padding:20px 0;width:804px;position: relative;}
.pb-contribute .audio-tab li{
    height: 25px;
    line-height: 25px;
    background-position: 0 -22px;
}
.pb-contribute .audio-tab li a{
    font-size: 14px;
}
/*.pb-contribute .audio-tab li{*/
	/*background-color:#fff;*/
	/*height: 28px;*/
	/*line-height:28px;*/
	/*border:1px solid #D9DDE2;*/
	/*border-radius: 0px;*/
	/*width:72px;*/
	/*-moz-border-radius: 0px;*/
	/*-webkit-border-radius: 0px;*/
/*}*/
/*.pb-contribute .audio-tab li a{*/
	/*font-size: 14px;*/
	/*color: #ccc;*/
/*}*/
/*.pb-contribute .audio-tab li#audio-tab-search-li{*/
	/*border-top-left-radius: 5px;*/
	/*border-bottom-left-radius: 5px;*/
	/*-moz-border-top-left-radius: 5px;*/
	/*-moz-border-bottom-left-radius: 5px;*/
	/*-webkit-border-top-left-radius: 5px;*/
	/*-webkit-border-bottom-left-radius: 5px;*/
	/*margin-right: 0px;*/
/*}*/
/*.pb-contribute .audio-tab li#audio-tab-upload-li{*/
	/*border-top-right-radius: 5px;*/
	/*border-bottom-right-radius: 5px;*/
	/*-moz-border-top-right-radius: 5px;*/
	/*-moz-border-bottom-right-radius: 5px;*/
	/*-webkit-border-top-right-radius: 5px;*/
	/*-webkit-border-bottom-right-radius: 5px;*/
	/*border-left: 0px;*/
/*}*/
/*.pb-contribute .audio-tab li.on{*/
	/*background-color: #4BBEFF;*/
	/*border-color:#1A98E1;*/
/*}*/
/*.pb-contribute .audio-tab li.on a{*/
	/*color: #fff;*/
/*}*/

.pb-contribute #pb-audio-search-input{
	width: 788px;
	position: relative;
}
.pb-contribute .input-tip{
	color:#ccc;
	position: absolute;
	top:30px;
	_top:45px;
	left: 10px;
	z-index: 10;
	font-size: 18px;
}
#pb-photo-layout-holder{height:auto;margin:0 0 10px;}
#pb-photo-layout-holder h3{
    padding-bottom:10px;
    color:#8b8b8b;
    font-weight: normal;
}
.photo-layout{
    display:block;
    float:left;
	margin-left:13px;
	padding:3px;
	text-decoration:none;
	vertical-align:top;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	background:#fff;
}
.photo-layout-first{
    margin-left:0;
}
.photo-layout.selected{
    background:#8bc4e8;
}
.photo-layout .photo-layout-cell{
    float:left;
	display:inline;
	background:#d7d7d7;
}
.photo-layout.selected .photo-layout-cell{
    background:#e1f0f9
}
.photo-layout-publisher{
    width:64px;
}
.photo-layout-publisher .photo-layout-row{
    margin-top:2px
}
.photo-layout-publisher .photo-layout-row-first{
    margin-top: 0;
}
.photo-layout-publisher .photo-layout-cell{
    margin-left:2px;
	width:20px;
	height:20px;
}
.photo-layout-publisher .photo-layout-cell-first{
    margin-left:0;
}
.photo-layout-publisher .photo-layout-cell-1{
	width:64px;
	height:35px
}
.photo-layout-publisher .photo-layout-cell-2{
	width:31px;
	height:25px
}
.contribute-submit #submit-main-title a,
.contribute-submit #submit-main-title a:hover,
.contribute-submit #submit-main-title a:visited{color:#2D4159;}
#post-cc-holder{
    margin-top: 5px;
}
#pb-weibo2long-holder{
    margin-top: 5px;
}
.pb-mod .post-cc-sub{
    padding-left: 17px;
}
.pb-mod .post-cc-sub-modify{
    margin-top: 5px;
}
.pb-mod .post-cc-sub-modify li{
    /*line-height: 2px;*/
}
.pb-mod .post-cc-sub-modify li input,
.pb-mod .post-cc-sub-modify li label{
    float: left;
    display: inline;
    vertical-align: middle;
}
.pb-mod .post-cc-sub-modify li label{
    width: 175px;
}
.pb-mod .post-cc-sub-modify li input{
    margin-top: 5px;
    margin-right: 8px;
}
.pb-mod .post-cc-sub span{
    background: url(/admin/image/post-cc-icons.png) no-repeat -3px 0;
    width: 16px;
    height: 20px;
    float: left;
    display: inline;
    margin-right: 3px;
}
.pb-mod .post-cc-sub .cc-1{
    background-position:-37px 0;
}
.pb-mod .post-cc-sub .cc-2{
    background-position: -20px 0;
}
.pb-mod .post-cc-sub .cc-3{
    background-position: -54px 0;
}
.pb-mod .post-cc-sub-modify li .post-cc-h{
    clear: both;
    line-height: 16px;
    padding-left: 20px;
    color: #a1a3a4;
    margin-bottom: 5px;
}
.pb-mod .post-cc-sub-panel{
    margin-top: 5px;
}
.pb-mod .post-cc-sub-panel .post-cc-sub-modify-btn{
    float: left;
    display: inline;
    line-height: 20px;
    color: #a1a3a4;
    margin-left: 5px;
}
.pb-mod .post-cc-sub-panel .post-cc-sub-modify-btn:hover{
    color:#444;
}
#pb-weibo2long-preview{
    margin-left: 5px;
    color: #A1A3A4;
}
#pb-weibo2long-preview:hover{
    color: #444;
}
#pb-weibo2long-preview.disable{
    cursor: default;
}
#pb-weibo2long-preview.disable:hover{
    color: #A1A3A4;
}
#pb-weibo2long-tip{color:#b1b3b5;padding:5px 0 0 17px;}
.weibo2long .close{
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(/admin/image/x.png) no-repeat;
    top: 10px;
    right: 10px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top:10px;
}
/*combobox 滚动条*/
.dd-scroll-bar{position: absolute;height:100%;width:5px;right:0;top:0;z-index: 100;}
.dd-scroll-bar .dd-scroll-bar-slider{height:100%;width:100%;position: relative;}
.dd-scroll-bar .dd-scroll-bar-slider .dd-scroll-bar-thumb{
    position:absolute;
    width:4px;
    left: 0;
    background-color:#ddd;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.select-content-i{
    position: relative;
}