.blog-profile .tip{padding-top:10px;}
.blog-profile .info{font-size: 12px; color:#8f8f8f;margin-bottom: 10px;}
.blog-profile .errmsg{
    margin: 10px 0 0 0;
    color:#444;
    clear:both;
}
.blog-profile .errmsg span{
    background: #FFF074;
    padding: 2px 5px;
}
.blog-profile .sub-info{color:#afafaf;}
.blog-profile .setting-btn{
    margin-left: 5px;text-decoration:underline;color:#2e5672;
}
#clear-private-domain, .blog-profile a{text-decoration: underline;color:#2E5672;cursor:pointer;}
.blog-profile .text{width:358px;_width:348px;}
.blog-profile .checkbox{margin-right:8px;}
.blog-profile .head{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border: 1px solid #C6C8CB;
    border-bottom: none;
    box-shadow: inset 0 0 1px #dddfe1;
    background: url(/img/bg/sidemenu-item.$5106.png) repeat;
    height: 30px;
    padding: 10px 0;
    line-height: 30px;
    padding-left: 38px;
    position: relative;
    zoom: 1;
}
.blog-profile .head h1{
    float: left;
    font-size: 16px;
    color: #0f3d5e;
    background: url(/admin/image/dianlog-sprite.png) no-repeat 0 -412px;
    padding-left: 25px;
    font-weight: normal;
}
.blog-profile .con{
    background: #F6F6F6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #aeb1b5;
    padding-top: 10px;
    margin-top: -5px;
    box-shadow: 0 2px 2px rgba(173, 176, 179, 0.8);
    position: relative;
    z-index: 1;
    font-size: 12px;
}
.blog-profile .panel{
    padding: 40px 20px 10px 30px;
}
.blog-profile .blog-delete{
    float: left;
    display: inline;
}
.blog-profile .submit-ct {float:right;}

.blog-profile .list .li{border-bottom:1px solid #e4e4e4;padding: 20px 0;}
.blog-profile .list .li .item-title{float:left;display:inline;width:125px; line-height: 38px;text-align: right; color:#444;}
.blog-profile .list .item{float:left;width:438px;padding:0 20px;position: relative;display: inline;overflow: hidden;}
.blog-profile .list .item dd{padding-left:20px;zoom:1;_padding-left:0;}
.blog-profile .list .item dd .fl{
    float: left;
    margin-right: 20px;
    color: #8f8f8f;
}
.blog-profile .list .item .avatar{
    float:left;width:64px;height:64px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 2px 2px #c3c3c3;
    margin-bottom: 4px;
}
.blog-profile .list .item .avatar-modify{
    margin-top: 10px;
}
.blog-profile .list .item dt{
    margin-bottom: 10px;
}
.blog-profile .list .item dl{
    margin-bottom: 20px;
}
.blog-profile .list .item .sub{
    margin-top: 20px;
    margin-bottom: 0;
}
.blog-profile .list .item .sub dt{
    margin-bottom: 10px;
}
.blog-profile .list li.normal .item-title{
    line-height: inherit;
}
.blog-profile .list .item .avatar-upload{width:307px;padding-left:10px;float: left;}
.blog-profile .list .item .avatar-upload .avatar-upload-btn{display: block;width:48px;}
.blog-profile .show-avatar { clear: both; border-top: 1px solid #d9d9da; margin-top: 15px; margin-right: -20px; padding: 15px 0 0; }
.blog-profile .show-avatar-label { padding-left: 10px; *padding-left: 3px; }
.blog-profile .show-avatar-tip { color: #777; font-size: 12px; padding-left: 27px; }

.blog-profile .list .item .userdefine-url input{float: left;}
.blog-profile .list .item .userdefine-url .part{float: left;height: 38px;line-height: 38px;padding-left:5px;}
.blog-profile .list .item .userdefine-url .part.l{
    padding-left: 0;
    padding-right: 5px;
}
.blog-profile .list .item .userdefine-url .errmsg{
    margin-left: 40px;
}
.blog-profile .list .sub-item{
    clear:both;
    padding-left: 145px;
    padding-top:20px;
}
.blog-profile .list .item .contribute-setting{
    margin-bottom: 0;
}
.blog-profile .list .contribute-setting .split{zoom:1;margin-bottom: 10px;}
.blog-profile .list .contribute-setting .title{line-height:25px;}
.blog-profile .list .contribute-setting .cate li{float: left;display: inline;margin-right: 18px;}
.blog-profile .list .contribute-setting .cate li input{margin-right: 5px;}

.blog-profile .list .private-blog-setting input{float: left;}

.blog-profile .list .connector-setting{margin: -7px 0;}
.blog-profile .list .connector-setting li,
.blog-profile .list .post-cc-setting dd div{
    position: relative;
    padding-left:27px;
    height: 28px;
    line-height: 28px;
    color:#8f8f8f;
}
.blog-profile .list .post-cc-setting dd div{
    padding-left: 0;
}
.blog-profile .list .post-cc-setting dd input{
    margin-top: 8px;
}
.blog-profile .list .post-cc-setting dd input,
.blog-profile .list .post-cc-setting dd label{
    float: left;
    display: inline;
}
.blog-profile .list .post-cc-setting dd label{
    width: 320px;
}
.blog-profile .list .post-cc-setting label span{
    background: url(/img/icon/post-cc-icons.$6118.png) no-repeat -3px 4px;
    width: 16px;
    height: 28px;
    float: left;
    display: inline;
    margin-right: 3px;
}
.blog-profile .list .post-cc-setting label .cc-1{
    background-position:-37px 4px;
}
.blog-profile .list .post-cc-setting label .cc-2{
    background-position: -20px 4px;
}
.blog-profile .list .post-cc-setting label .cc-3{
    background-position: -54px 4px;
}
.blog-profile .list .post-cc-setting label .cc-h{
    width: auto;
    height: auto;
    background: none;
    margin-left: 3px;
}
.blog-profile .list .connector-setting li.last{border: none;}
.blog-profile .list .connector-setting li .setting-cancel-btn{height:22px;line-height: 22px;padding-right:5px;}
.blog-profile .list .connector-setting .sina{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -3px 0;}
.blog-profile .list .connector-setting .qq{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -27px;}
.blog-profile .list .connector-setting .douban{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -55px;}
.blog-profile .list .connector-setting .qzone{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -112px;}
.blog-profile .list .connector-setting .renren{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -85px;}
.blog-profile .list .connector-setting .facebook{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -140px;}
.blog-profile .list .connector-setting .twitter{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -167px;}
.blog-profile .list .connector-setting .flickr{background: url(/img/icon/blog-setting-sync.$5937.png) no-repeat -4px -195px;}

.blog-profile .list .item .blog-move{float:right; }
.blog-profile .con .blog-delete{height: 35px; line-height: 35px;background: #f5f5f5;text-align: center;margin-bottom:18px;}

.blog-profile .con .blog-profile-submit{height: 36px; line-height：36px; float:right;color:#fff;text-decoration: none;}
.blog-profile .con .disabled{color:#333;}
.customize-user-cut-avatar-holder{padding-bottom:15px;position:absolute;top:140px;left:221px;background:#fff;border-radius:4px;-moz-border-radius:4px;box-shadow:0 2px 2px #C3C3C3;padding:10px;width:388px;overflow:hidden;z-index:100;}
.customize-user-cut-avatar-tip{padding-bottom:10px;color:#333;width:123px;}
#avatar-thumb-big{float:left;margin-right:15px;}
.avatar-thumb-small-holder{float:left;}
.avatar-thumb-small-title{padding-top:5px;text-align:center;width:64px;}
#email-publish-reset {
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
    color: #2E5672;
}
#email-publish-reset:hover {
    text-decoration: underline;
}
#email-publish-action {
    padding-bottom:5px;
    color: #444;
}
#email-publish-detail {
    clear: both;
}
#email-publish-tip{
    margin-bottom: 0;
}