<!DOCTYPE>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<title>{{ title }} | {{ page }}</title>
<link rel="stylesheet" href="http://{{ host }}/themes/{{ theme }}/style.css" type="text/css" media="all">
<link rel="stylesheet" href="http://{{ host }}/themes/{{ theme }}/pagenavi-css.css" type="text/css" media="all">
<link rel="stylesheet" href="http://{{ host }}/themes/{{ theme }}/wp-syntax.css" type="text/css" media="screen">

<!-- Clean Archives Reloaded v3.2.0 | http://www.viper007bond.com/wordpress-plugins/clean-archives-reloaded/ -->
<style type="text/css">.car-collapse .car-yearmonth { cursor: s-resize; } </style>
<style>
.post, .page .page,.commentlist li.depth-1,h4.widget-title,#author,#email,#url,#comment{background-color:rgba(255,255,255,.9)}
#toolbar{opacity:.9}
#comments h3, #related_posts h3 ,#comments h3 span, #related_posts h3 span{background:none}
#header,#nav,#footer{border-color:rgba(0,0,0,.8)}
#nav,#footer{-webkit-box-shadow:0 0 12px rgba(255,255,255,.2);-moz-box-shadow:0 0 12px rgba(255,255,255,.2);box-shadow:0 0 12px rgba(255,255,255,.2)}
</style>
{% if info.StatisticsCodeInHead %}
    {% if info.StatisticsCode %} {{ info.StatisticsCode|safe }} {% endif %}
{% endif %}
</head>

<body class="home blog custom-background">
{% include 'header.html' %}

<div id="main">
{% block 'main' %}{% endblock %}
</div>

{% include 'footer.html' %}
{% if not info.StatisticsCodeInHead %}
    {% if info.StatisticsCode %} {{ info.StatisticsCode|safe }} {% endif %}
{% endif %}
</body>
</html>