<div id="header" role="banner">
<div id="masthead">
	<div id="branding">
		<h1 id="logo">
			<a href="http://{{ host }}/" title="{{ title }}" style="" rel="home">
				<span>{{ title }}</span>
			</a>
		</h1>
		<div id="site-description">{{ info.Subtitle }}</div>
	</div>
	<div id="toolbar">
		<ul>
			<li class="rss">
                {% if info.CustomRss %}
                    <a href="{{ info.CustomRss }}" target="_blank">订阅</a>
                {% else %}
                    <a href="http://{{ host }}/rss/" target="_blank">订阅</a>
                {% endif %}
			</li>
		</ul>
	</div>
</div>
<div id="nav" role="navigation">
	<div id="menu-container" class="menu-%e9%a6%96%e9%a1%b5-container">
	
	<div class="back" style="display: none; "></div>
	<ul id="menu-%e9%a6%96%e9%a1%b5" class="menu">
	{% for i in categories %}
		<li class="menu-item menu-item-type-taxonomy menu-item-object-category">
			<a href="http://{{ host }}/category/{{ i.Title }}/"><span>{{ i.Title }}</span><span class="desc">{{ i.Description }}</span></a>
		</li>
	{% endfor %}
	</ul>
	</div>
</div>
</div>