{% extends 'base.html' %}

{% block 'main' %}
<div id="content" role="main">
	{% for i in articles %}
	<div id="post-{{ i.Id }}" class="post type-post status-publish format-standard hentry category-product">
		<h2 class="entry-title">
			<a href="http://{{ host }}/article/{{ i.Id }}/" title="链向 {{ i.Title}} 的固定链接" rel="bookmark">{{ i.Title }}</a>
		</h2>
		<div class="entry-meta">
			<span class="entry-date">
				<span class="entry-month">{{ i.PostOn|date:'Y-n' }}</span>
				<span class="sl">-</span>
				<span class="entry-day">{{ i.PostOn|date:'d' }}</span>
			</span>
			分类：{% for c in i.Categories %}<a href="http://{{ host }}/category/{{ c }}/" title="查看 {{ c }} 中的全部文章" rel="category">{{ c }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
			| 标签：{% for t in i.Tags %}<a href="http://{{ host }}/tag/{{ t }}/" title="查看包含 {{ t }} 的全部文章" rel="tag">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            | 作者：{{ i.Author.Nickname }} <br />
            发布于 {{ i.PostOn|date:"N j, Y H:i" }} | 时区：{{ i.Timezone }} {{ i.TimezoneOffset }} {{ i.IsDst|yesno:"夏令时," }}
        </div>
		<div class="entry-content">
			{{ i.Content|safe }}
			<p class="read-more">
				<a href="http://{{ host }}/article/{{ i.Id }}/">继续阅读…</a>
			</p>
		</div>
	</div>
	{% endfor %}
	{% include 'paginator.html' %}
</div>
{% include 'sidebar-index.html' %}

<div class="clear"></div>
{% endblock %}