<div id="sidebar" role="complementary">
<ul>
	<li id="text-3" class="widget widget_text">
		<h4 class="widget-title">关于我</h4>
		<div class="textwidget">
		{{ info.Description|safe }}
		</div>
	</li>
	
	<li id="categories-2" class="widget widget_categories">
		<h4 class="widget-title">分类目录</h4>
		<ul>
		{% for i in categories %}
		<li class="cat-item">
			<a href="http://{{ host }}/category/{{ i.Title }}/" title="查看 {{ i.Title }} 下的所有文章">&nbsp;{{ i.Title }}</a>
		</li>
		{% endfor %}
		</ul>
	</li>

    {% if info.WeiboCode %}
    <li id="text-5" class="widget widget_text">
        <h4 class="widget-title">我的微博</h4>
        <div class="textwidget">
            {{ info.WeiboCode|safe }}
        </div>
    </li>
    {% endif %}

	<li id="text-5" class="widget widget_text">
		<h4 class="widget-title">友情链接</h4>
        <ul>
        {% for i in links %}
        <li class="cat-item">
            <a href="{{ i.Address }}" title="{{ i.Description }}">{{ i.Title }}</a>
        </li>
        {% endfor %}
        </ul>
    </li>

    {% if info.LatestCommentsCode %}
	<li id="ds-recent-comments-2" class="widget ds-widget-recent-comments">
		<h4 class="widget-title">近期评论</h4>
        {{ info.LatestCommentsCode|safe }}
	</li>
    {% endif %}

    <li id="text-5" class="widget widget_text">
        <h4 class="widget-title">技术支持</h4>
        <div class="textwidget">
            <a target="_blank" href="http://www.djangoproject.com/">
                <img alt="Powered by Django" src="http://{{ host }}/themes/{{ theme }}/logo-django.png">
            </a>
            <br />
            <a target="_blank" href="http://www.mongodb.org/">
                <img alt="Powered by mongoDB" src="http://{{ host }}/themes/{{ theme }}/logo-mongodb.png">
            </a>
            <br />
            <a target="_blank" href="http://www.linode.com/">
                <img alt="Runs on Linode VPS" src="http://{{ host }}/themes/{{ theme }}/logo-linode.png">
            </a>
        </div>
    </li>
	
</ul>
</div>