{% extends "base.html" %}

{% block ref %}
<style>
    #page-no-container{
        float: right;
    }
    .page-no-list li{
        float: left;
    }
    .page-no-list li a{
        display: block;
        padding: .3em .7em;
        margin: 0 .38em 0 0;
        text-align: center;
    }
    .page-no-list li a:hover, a.page-current {
        text-decoration: none;
        background: #EDEDED;
    }
</style>
{% endblock %}
{% block content %}
<div id="content">
<div id="main" class="page-dianlog">
    <div class="feed-list" id="feed-list" >
        {% for i in articles %}
        <div class="feed feed-text user-repeat" id="article-{{ i.Id }}" data-comment="1">
            <div class="feed-content-holder pop post">
                <div class="pop-content clearfix">
                    <div class="feed-hd no-content">
                        <div class="feed-basic"></div>
                    </div>
                    <div class="feed-bd no-hd-content">
                        <h4 class="feed-title">
                            {% if i.IsPublic %}
                                <a href="http://{{ host }}/article/{{ i.Id }}/" target="_blank" style="color:#444">{% if i.IsEncrypted %}${% endif %}
                                    {{ i.Title }}</a>
                            {% else %}
                                <a href="http://{{ host }}/admin/show-hidden-article/{{ i.Id }}/" target="_blank" style="color:#aaa">*{% if i.IsEncrypted %}${% endif %}
                                    {{ i.Title }}</a>
                            {% endif %}
                            <a href="" class="feed-user">{{ i.Author.Nickname }}</a>
                        </h4>
                        <span>{{ i.PostOn|date:"N j, Y H:i" }}  {{ i.Timezone|default_if_none:"" }} {{ i.TimezoneOffset|default_if_none:"" }} {{ i.IsDst|yesno:"夏令时,," }}</span>
                        <div class="feed-act">
                            <a href="http://{{ host }}/admin/delete-article/{{ i.Id }}/" class="feed-del">删除</a>
                            <a href="http://{{ host }}/admin/edit-article/{{ i.Id }}/" class="feed-edit">编辑</a>
                        </div>
                    </div>
                </div>
                <div class="feed-ft J_FeedFooter" style="display:none">
                    <div class="feed-ft-bottom"></div>
                    <div class="feed-ft-triangle J_FeedFooterTriangle"></div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div id="page-no-container">
            <ul class="page-no-list">
                {% if page_current > 1 %}
                    <li><a href="/admin/show-articles/{{ page_current|add:'-1' }}">上一页</a></li>
                {% endif %}
                {% for i in page_range %}
                    {% if i == page_current %}
                    <li><a class="page-current" href="/admin/show-articles/{{ i }}">{{ i }}</a></li>
                    {% else %}
                    <li><a href="/admin/show-articles/{{ i }}/">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_current < page_count %}
                    <li><a href="/admin/show-articles/{{ page_current|add:'1'}}/">下一页</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% include 'region-sidebar.html' %}
</div>

{% endblock %}