<!DOCTYPE HTML>
<html>
<head><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <title>{{ title }} | {{ page }}</title>
    <link rel="stylesheet" href="/admin/style/dd.css">
    <link rel="stylesheet" href="/admin/style/home.css">
    <script type="text/javascript" src="/admin/script/crypto-min.js"></script>
    <script type="text/javascript" src="/admin/script/crypto-sha1.js"></script>
    <script type="text/javascript" src="/admin/script/jquery-1.8.3.min.js"></script>
    {% block ref %}
    {% endblock %}
</head>
<body>

<div id="wrap">
    <div id="header-holder">
        {% include 'region-header.html' %}
    </div>

    <div id="content-holder">
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>