{% extends "base.html" %}
{% block ref %}
    <link rel="stylesheet" charset="utf-8" href="/admin/style/setting-blog.css">
    <link rel="stylesheet" type="text/css" href="/admin/style/uploadify.css" />
    <script type="text/javascript" charset="utf-8" src="/admin/script/jquery.uploadify.min.js"></script>
    <script>
        function save(){
            var file = $('#file-name-uploaded').text();
            file = file.substr(0, file.length - 4);
            $('#file-import-button').text('请稍候...')
            $.get('/admin/import-xml/' + file + '/', function(data, textStatus, jqXHR){
                $('#file-import-info').attr('style', 'display: none;');
                alert(data);
            }).error(function(){
                $('#file-import-info').attr('style', 'display: none;');
                alert('导入失败：请求服务器出错！');
            });
        }
    </script>
{% endblock %}

{% block content %}
<div id="content">
<div id="main">
<div class="blog-profile">
<div class="head">
    <h1>导入导出</h1>
</div>
<div class="con">
<form action="" method="post" id="profile-form">
<ul class="list clearfix">
<li class="clearfix li normal">
    <div class="item-title">从WordPress导入日志：</div>
    <div class="item">
        <input type="file" id="file-upload" name="file-upload"/>
        <dl class="sub" id="file-import-info" style="display: none;">
            <dt>WordPress数据文件<span id="file-name-uploaded" style="font-weight: bold;"></span>已上传</dt>
            <dt>所有文章的作者统一为缺省作者 <span style="font-weight: bold;">{{ author }}</span></dt>
            <dt>所有文章的时区统一为缺省时区 <span style="font-weight: bold;">{{ timezone }}</span></dt>
            <dt>不存在的分类将被添加，评论将被内联在文章末尾</dt>
            <dt></dt>
            <dt>
                <div onclick="save()" class="ui-button skin-button-willblue" style="width: 120px; ">
                    <span class="ui-button-bg-left skin-button-willblue-bg-left"></span>
                    <div class="ui-button-label skin-button-willblue-label">
                        <span id="file-import-button" class="ui-button-text skin-button-willblue-text">导入</span>
                    </div>
                </div>
            </dt>
        </dl>
        <script type="text/javascript">
            $(function() {
                $("#file-upload").uploadify({
                    'buttonText': '上传文件',
                    'swf': '/admin/script/uploadify.swf',
                    'uploader' : '/admin/upload-xml/',
                    'fileObjName' : 'data',
                    'fileTypeDesc': 'Xml数据文件',
                    'fileTypeExts': '*.xml',
                    'onUploadSuccess' : function(file, data, response) {
                        $('#file-name-uploaded').text(file.name);
                        $('#file-import-info').attr('style', 'display: block;');
                    },
                    'onSelect' : function(file) {
                        $('#file-upload').uploadify('upload','*');
                    }
                });
            });
        </script>
    </div>
</li>
</ul>
</form>
</div>
</div>
</div>
{% include 'region-sidebar.html' %}
</div>
{% endblock %}