<div id="aside">
    <ul class="sidemenu sidebox">
        <li class="first aside-blog-name">
            <a href="http://{{ host }}" target="_blank">
                <span class="aside-icon"></span>
                <span class="aside-domain-title">访问 {{ title }}</span>
                <span class="aside-domain-url">{{ host }}</span>
            </a>
        </li>
        <li class="aside-new-article">
            <a href="http://{{ host }}/admin/new-article/">
                <span class="aside-icon"></span>
                新文章
            </a>
        </li>
        <li class="aside-setting {% ifequal selection 'blog-settings' %}active{% endifequal %}">
            <a href="http://{{ host }}/admin/blog-settings/">
                <span class="aside-icon"></span>
                设置
            </a>
        </li>
        <li class="aside-setting {% ifequal selection 'blog-plugins' %}active{% endifequal %}">
            <a href="http://{{ host }}/admin/blog-plugins/">
                <span class="aside-icon"></span>
                插件
            </a>
        </li>
        <li class="aside-setting last {% ifequal selection 'import-and-output' %}active{% endifequal %}">
            <a href="http://{{ host }}/admin/import-and-export/">
                <span class="aside-icon"></span>
                导入导出
            </a>
        </li>
    </ul>

    <div id="side-search-holder" class="sidebox">
        <form id="side-search-form">
            <div id="side-search-box">
                <input type="text" id="side-search-input" autocomplete="off" tip='{"class":"input-tip","text":"搜索标签"}'>
            </div>
            <button id="side-go-search" type="submit">搜索</button>
        </form>
        <a href="#" id="side-search-show-options"></a>
        <div id="side-search-options" class="pop-menu-list-holder" style="display:none;">
            <div class="pop-menu-list-inner">
                <div class="pop-menu-list-triangle"></div>
                <ul id="side-search-options-list" class="pop-menu-list mini">
                    <li class="item-allTag first" data-name="搜索标签"><a>搜索所有标签<span class="pop-menu-extra item-checked"></span></a></li><li class="item-myTrack" data-name="搜索我关注的文章"><a>搜索我关注的文章<span class="pop-menu-extra"></span></a></li>
                    <li class="item-myPost" data-name="搜索我发布的文章"><a>搜索我发布的文章<span class="pop-menu-extra"></span></a></li>
                    <li class="item-myFav last" data-name="搜索我的喜欢"><a>搜索我的喜欢<span class="pop-menu-extra"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="sidemenu sidebox">
        <li class="first aside-blog-post {% ifequal selection 'articles' %}active{% endifequal %}">
            <a href="http://{{ host }}/admin/">
                <span class="aside-icon"></span>
                <span class="sidemenu-item-extra sidemenu-item-number"></span>
                文章
            </a>
        </li>
        <li class="aside-categories {% ifequal selection 'categories' %}active{% endifequal %}">
            <a href="http://{{ host }}/admin/show-categories/">
                <span class="aside-icon"></span>
                <span class="sidemenu-item-extra sidemenu-item-number"></span>
                分类
            </a>
        </li>
        <li class="aside-links {% ifequal selection 'links' %}active{% endifequal %} last">
            <a href="http://{{ host }}/admin/show-links/">
                <span class="aside-icon"></span>
                <span class="sidemenu-item-extra sidemenu-item-number"></span>
                链接
            </a>
        </li>
    </ul>
</div>