{% extends 'base.html' %}

{% block content %}
<div id="content">
<div id="main" class="page-dianlog">
<div class="feed feed-text user-repeat" id="article-{{ i.Id }}" data-comment="1">
    <div class="feed-content-holder pop post">

        <div class="pop-content clearfix">
            <div class="feed-hd">
            </div>
            <div class="feed-bd">
                <h4 class="feed-title">{{ article.Title }}
                    <a href="" class="feed-user">{{ article.Author.Nickname }}</a>
                </h4>

                <div class="feed-ct">
                    <div class="feed-txt-full rich-content">
                        <div class="feed-txt-summary">{{ article.HiddenContent|safe }}</div>
                    </div>
                </div>

                <div class="feed-tag clearfix">
                </div>
                <div class="feed-act">
                    <a title="喜欢" class="feed-fav ">喜欢</a>
                    <a href="http://{{ host }}/admin/delete-article/{{ article.Id }}/" class="feed-del">删除</a>
                    <a href="http://{{ host }}/admin/edit-article/{{ article.Id }}/" class="feed-edit">编辑</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include 'region-sidebar.html' %}
</div>
{% endblock %}