{% extends "base.html" %}

{% block ref %}
    <script>
        function newLink()
        {
            window.location = 'http://{{ host }}/admin/new-link/'
        }
    </script>
{% endblock %}

{% block content %}
<div id="content">
<div id="main" class="page-dianlog">
<div class="feed-list" id="feed-list" >
{% for i in links %}
    <div class="feed feed-text user-repeat" id="link-{{ i.Order }}" data-comment="1">
        <div class="feed-content-holder pop post">
            <div class="pop-content clearfix">
                <div class="feed-hd no-content">
                    <div class="feed-basic"></div>
                </div>
                <div class="feed-bd no-hd-content">
                    <h4 class="feed-title">{{ i.Order }} {{ i.Title }}</h4>
                    <a target="_blank" href="{{ i.Address }}">{{ i.Address }}</a>
                    <div class="feed-act">
                        <a href="http://{{ host }}/admin/delete-link/{{ i.Id }}/" class="feed-del">删除</a>
                        <a href="http://{{ host }}/admin/edit-link/{{ i.Id }}/" class="feed-edit">编辑</a>
                    </div>
                </div>
            </div>
            <div class="feed-ft J_FeedFooter" style="display:none">
                <div class="feed-ft-bottom"></div>
                <div class="feed-ft-triangle J_FeedFooterTriangle"></div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div class="clearfix panel">
    <div class="clearfix submit-ct">
        <div id="profile-submit">
            <div onclick="newLink()" class="ui-button skin-button-willblue" style="width: 120px; float: right;">
                <span class="ui-button-bg-left skin-button-willblue-bg-left"></span>
                <div id="ctrlbuttonprofile-submitlabel" class="ui-button-label skin-button-willblue-label">
                    <span id="ctrlbuttonprofile-submittext" class="ui-button-text skin-button-willblue-text">新链接</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% include 'region-sidebar.html' %}
</div>

{% endblock %}