<!DOCTYPE>
<html dir="ltr" lang="zh-CN">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% if info.DisallowSpider %}<meta name="robots" content="noindex,nofollow">{% endif %}
<title>{{ title }} | {{ page }}</title>
<link type="text/css" rel="stylesheet" href="/themes/{{ theme }}/reset.css" media="screen" />
<link type="text/css" rel="stylesheet" href="/themes/{{ theme }}/style.css" media="screen" />
<script type="text/javascript" src="/admin/script/crypto-min.js"></script>
<script type="text/javascript" src="/admin/script/crypto-sha1.js"></script>
<script type="text/javascript" src="/admin/script/jquery-1.8.3.min.js"></script>

<link type="text/css" rel="stylesheet" href="/editor/third-party/SyntaxHighlighter/shCoreDefault.css" media="screen">
<script type="text/javascript" src="/editor/third-party/SyntaxHighlighter/shCore.js" ></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
{% if info.StatisticsCodeInHead %}
    {% if info.StatisticsCode %} {{ info.StatisticsCode|safe }} {% endif %}
{% endif %}
<script type="text/javascript">
    function visitEncryptedArticle(id){
        var d = new Date();
        var date = d.getUTCFullYear() + '/' + (d.getUTCMonth() + 1) + '/' + d.getUTCDate();
        var pass = $('#pass-' + id).val();

        var bytes = Crypto.SHA1(pass + date, { asBytes: true });
        var hash = Crypto.util.bytesToHex(bytes);
        location.href = '/article-encrypted/' + id + '/' + hash + '/';
    }
</script>
</head>

<body>
<div id="wrapper">

{% include 'header.html' %}
{% block content %}{% endblock %}
{% block sidebar %}{% endblock %}
{% include 'footer.html' %}

</div>
</body>
</html>
