<!DOCTYPE>
<html dir="ltr" lang="zh-CN">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% if info.DisallowSpider %}<meta name="robots" content="noindex,nofollow">{% endif %}
<title>{{ title }} | {{ page }}</title>
<link type="text/css" rel="stylesheet" href="/themes/{{ theme }}/reset.css" media="screen" />
<link type="text/css" rel="stylesheet" href="/themes/{{ theme }}/style.css" media="screen" />

<link type="text/css" rel="stylesheet" href="/editor/third-party/SyntaxHighlighter/shCoreDefault.css" media="screen">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/editor/third-party/SyntaxHighlighter/shCore.js" ></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
{% if info.StatisticsCodeInHead %}
    {% if info.StatisticsCode %} {{ info.StatisticsCode|safe }} {% endif %}
{% endif %}
</head>

<body>
<div id="wrapper">

{% include 'header.html' %}
{% block content %}{% endblock %}
{% block sidebar %}{% endblock %}
{% include 'footer.html' %}

</div>
</body>
</html>
