{% extends 'root.html' %}

{% block content %}
<div id="content">
<div class="post">
    <h1><a href="http://{{ host }}/article/{{ article.Id }}/">{{ article.Title }}</a></h1>
    <small>
        <b>Posted:</b> {{ article.PostOn|date:"F d, Y, H:i" }} |
        <b>Author:</b> <a href="" title="由 {{ article.Author.Nickname }} 发布" rel="author">{{ article.Author.Nickname }}</a> | 
        <b>Filed under:</b>
        {% for c in article.Categories %}
            <a href="" title="查看 {{ c }}中的全部文章" rel="tag">{{ c }}</a> 
            {% if not forloop.last %}, {% endif %}
        {% endfor %} |
        <b>Tags:</b>
        {% for t in article.Tags %}
            <a href="" rel="tag">{{ t }}</a> 
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </small>
    {{ article.Content|safe }}
    <div class="navigation">
        <div class="alignleft"></div>
        <div class="alignright"></div>
    </div>
    <div id="disqus_thread"></div>
    {% if info.CommentCode %}{{ info.CommentCode|safe }}{% endif %}
</div>
</div>
{% endblock %}
{% block sidebar %}
    {% include 'sidebar-detail.html' %}
{% endblock %}