{% extends 'base.html' %}

{% block content %}
<div id="content">
<div class="post">
    <h1><a href="/article/{{ article.Id }}/">{{ article.Title }}</a></h1>
    <small>
        <b>Author:</b> <a href="" title="由 {{ article.Author.Nickname }} 发布" rel="author">{{ article.Author.Nickname }}</a>
        | <b>Filed under:</b>
        {% for c in article.Categories %}
            <a href="/category/{{ c }}" title="查看 {{ c }}中的全部文章" rel="tag">{{ c }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% if article.Tags %}
            | <b>Tags:</b>
            {% for t in article.Tags %}
                <a href="/tag/{{ t }}" rel="tag">{{ t }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        <br/>
        <b>Posted:</b> {{ article.PostOn|date:"N j, Y H:i" }}
        | <b>Timezone:</b> {{ article.Timezone }} {{ article.TimezoneOffset }} {{ article.IsDst|yesno:"夏令时," }}
    </small>
    <p>
    {% if article.IsEncrypted %}
        <span>请输入访问密码：</span>
        <input type="password" id="pass-{{ article.Id }}">
        <input type="button" onclick="visitEncryptedArticle({{ article.Id }})" value="密码输入完毕">
    {% else %}
        {{ article.Content|safe }}
    {% endif %}
    </p>
    <div class="navigation">
        <div class="alignleft"></div>
        <div class="alignright"></div>
    </div>
    {% if info.CommentCode %}{{ info.CommentCode|safe }}{% endif %}
</div>
</div>
{% endblock %}
{% block sidebar %}
    {% include 'sidebar-detail.html' %}
{% endblock %}