{% extends 'base.html' %}

{% block content %}
<div id="content">
{% for i in articles %}
<div class="post">
    <h1><a href="/article/{{ i.Id }}/">{{ i.Title }}</a></h1>
    <small>
        <b>Author:</b> <a href="" title="由 {{ i.Author.Nickname }} 发布" rel="author">{{ i.Author.Nickname }}</a>
        | <b>Filed under:</b>
        {% for c in i.Categories %}
            <a href="/category/{{ c }}/" title="查看 {{ c }}中的全部文章" rel="tag">{{ c }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% if i.Tags %}
            | <b>Tags:</b>
            {% for t in i.Tags %}
                <a href="/tag/{{ t }}/" rel="tag">{{ t }}</a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
        <br/>
        <b>Posted:</b> {{ i.PostOn|date:"N j, Y H:i" }}
        | <b>Timezone:</b> {{ i.Timezone }} {{ i.TimezoneOffset }} {{ i.IsDst|yesno:"夏令时," }}
    </small>
    <p>
        {{ i.Content|safe }}
        <a href="/article/{{ i.Id }}/" class="more-link">阅读全文 »</a>
    </p>
    <hr />
</div>
{% endfor %}
<div class="navigation">
    {% if paginator.Current < paginator.Total %}
        <div id="older-entries" class="alignleft"><a href="/page/{{ paginator.Current|add:1 }}/">« Older Entries</a></div>
    {% endif %}
    {% if paginator.Current > 1 %}
        <div id="new-entries" class="alignright"><a href="/page/{{ paginator.Current|add:-1 }}">Newer Entries »</a></div>
    {% endif %}
</div>
</div>
{% endblock %}

{% block sidebar %}
{% include 'sidebar-index.html' %}
{% endblock %}
