{% extends 'root.html' %}

{% block content %}
<div id="content">
{% for i in articles %}
<div class="post">
    <h1><a href="http://{{ host }}/article/{{ i.Id }}/">{{ i.Title }}</a></h1>
    <small>
        <b>Posted:</b> {{ i.PostOn|date:"F d, Y, H:i" }} |
        <b>Author:</b> <a href="" title="由 {{ i.Author.Nickname }} 发布" rel="author">{{ i.Author.Nickname }}</a> |
        <b>Filed under:</b>
        {% for c in i.Categories %}
            <a href="http://{{ host }}/category/{{ c }}/" title="查看 {{ c }}中的全部文章" rel="tag">{{ c }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %} |
        <b>Tags:</b>
        {% for t in i.Tags %}
            <a href="http://{{ host }}/tag/{{ t }}/" rel="tag">{{ t }}</a>
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </small>
    <p>
        {{ i.Content|safe }}
        <a href="http://{{ host }}/article/{{ i.Id }}/" class="more-link">阅读全文 »</a>
    </p>
    <hr />
</div>
{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% include 'sidebar-index.html' %}
{% endblock %}
