<div id="sidebar">
	<div class="block text-4 widget_text">
		<h3>关于我</h3>
		<div class="textwidget">
            {{ info.Description|safe }}
		</div>
	</div>

    <div class="block widget_links sidebar-box">
        <h3>友情链接</h3>
        <ul class="blogroll">
            {% for i in links %}
                <li><a target="_blank" href="{{ i.Address }}" title="{{ i.Description }}">{{ i.Title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="block categories-3 widget_categories">
        <h3>分类目录</h3>
        <ul>
            {% for i in categories %}
            <li class="cat-item">
                <a href="" title="查看 {{ i.Title }} 下的所有文章">{{ i.Title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if info.LatestCommentsCode %}
    <div class="block widget_links sidebar-box">
        <h3>最新评论</h3>
        {{ info.LatestCommentsCode|safe }}
    </div>
    {% endif %}
	
	<div class="block text-10 widget_text">
		<h3>技术支持</h3>
		<div class="textwidget">
            <br />
            <a target="_blank" href="http://www.djangoproject.com/">
                <img alt="Powered by Django" src="http://{{ host }}/themes/{{ theme }}/logo-django.png">
            </a>
            <br />
            <a target="_blank" href="http://www.mongodb.org/">
                <img alt="Powered by mongoDB" src="http://{{ host }}/themes/{{ theme }}/logo-mongodb.png">
            </a>
            <br />
            <a target="_blank" href="http://www.linode.com/">
                <img alt="Runs on Linode VPS" src="http://{{ host }}/themes/{{ theme }}/logo-linode.png">
            </a>
		</div>
	</div>	
</div>